{% extends "layouts/grantManagement.html" %}

{% if data['change'] == "yes" %}
	{% set showBackLink = false %}
{% endif %}

{% set pageSize = "l" %}
{% set pageHeading = "What is the name of this grant?" %}
{% set pageSection = '' + data['grantName'] + '' %}

{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">

        {{ macroPageHeader.pageHeader(pageNested,pageHeading,pageSection,pageHiddentext,pageSize) }}
       

        <form method="post" action="/funding/grant/details/?notification=&change=">

            {{ govukInput({
                label: {
                    text: "Enter the grant name",
                    classes: "govuk-label govuk-visually-hidden",
                    isPageHeading: false
                },
                hint: {
                    text: "Use the full and official name of the grant - no abbreviations or acronyms"
                },
                classes: "govuk-!-width-two-thirds",
                id: "grantName",
                name: "grantName",
                value: data['grantName']
            }) }}
 
            <div class="govuk-button-group">
				{{ govukButton({
					text: "Update grant name"
				}) }}
				<a class="govuk-link govuk-link--no-visited-state" href="/funding/grant/details/?notification=&change=">Cancel</a>				 
			</div>
            
        </form>

    </div>
</div>

{% endblock %}

<!-- *bc* -->