{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% import "macros/page-title.njk" as macroPageTitle %}
{% import "macros/page-header.njk" as macroPageHeader %}
{% import "macros/suggested-page.njk" as macroSuggested %}
{% import "macros/current-page.njk" as macroCurrent %}
{% import "macros/page-pagination.njk" as macroPagePagination %}

{% from "govuk/components/header/macro.njk" import govukHeader %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

<!-- Overides the max width only in assess -->
{% block stylesheets %}
	{{ super() }}
    {% if data['version'] == "suggested" %}
  	<link href="/public/css/assessOveride-new.css" rel="stylesheet" type="text/css" />
    {% else %}
    <link href="/public/css/assessOveride.css" rel="stylesheet" type="text/css" />
    {% endif %}
{% endblock %}

{% block header %}

    {% if data['version'] == "suggested" %}
        <!-- Header -->
        {{ govukHeader({
            classes: "govuk-header--full-width-border"
        }) }}
        <!-- /// -->
        <!-- Service Name and Navigation -->
        {{ govukServiceNavigation({
            serviceName: "Assess grant applications",
            serviceUrl: "#",
            navigation: [
                { href: "#", text: "Your dashboard" },
                { href: "#", text: "Application review", active: true },
                { href: "#", text: "Get help with this service" }
            ]
        }) }}
        <!-- /// -->

    {% else %}

        <!-- Check if user is logged in or not -->
        {% if data['signedIn'] == "yes" %}

            {{ govukHeader({
                classes: "govuk-header--full-width-border",
                homepageUrl: "/?signedIn=no",
                serviceName: "Assess grant applications",
                serviceUrl: "/?signedIn=no"
            }) }}

        {% elif data['signedIn'] == "no" %}

            {{ govukHeader({
                classes: "govuk-header--full-width-border",
                homepageUrl: "/?signedIn=no",
                serviceName: "Assess grant applications",
                serviceUrl: "/?signedIn=no"
            }) }}
        {% endif %}
        <!-- /// -->

    {% endif %}
{% endblock %}



{% block beforeContent %}
    <!-- Phasebanner -->
    {{ govukPhaseBanner({
        tag: { text: "Prototype" },
        html: 'This is a prototype. It is not a real service.'
    }) }}
    <!-- /// -->
    <!-- Back link -->
    {% if showBackLink != true %}
        {{ govukBackLink({
            href: "#",
            text: "Back"
        }) }}
    {% endif %}
    <!-- /// -->



{% endblock %}

{% block content %}

{% endblock %}


<!-- Back Link -->
	<!-- <div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">
	{% if showBackLink == true %}
		{{ govukBackLink({
			text: "Back",
			href: "javascript:history.go(-1)"
		}) }}
	{% else %}
	{% endif %}
		</div>
		<div class="govuk-grid-column-one-third govuk-!-text-align-right">
    {% if data['signedIn'] == "yes" %}
		{{ govukServiceNavigation({
			navigation: [
				{ href: "/assess/help", text: "Get help" },
				{ href: "#", text: "Log out", active: true }
			]
		}) }}
    {% endif %}
</div>
	</div> -->

{% block footer %}

{{ govukFooter({
    navigation: [
      {
        title: "Services and information",
        width: "two-thirds",
        columns: 2,
        items: [
          {
            href: "#",
            text: "Benefits"
          },
          {
            href: "#",
            text: "Births, deaths, marriages and care"
          },
          {
            href: "#",
            text: "Business and self-employed"
          },
          {
            href: "#",
            text: "Childcare and parenting"
          },
          {
            href: "#",
            text: "Citizenship and living in the UK"
          },
          {
            href: "#",
            text: "Crime, justice and the law"
          },
          {
            href: "#",
            text: "Disabled people"
          },
          {
            href: "#",
            text: "Driving and transport"
          },
          {
            href: "#",
            text: "Education and learning"
          },
          {
            href: "#",
            text: "Employing people"
          },
          {
            href: "#",
            text: "Environment and countryside"
          },
          {
            href: "#",
            text: "Housing and local services"
          },
          {
            href: "#",
            text: "Money and tax"
          },
          {
            href: "#",
            text: "Passports, travel and living abroad"
          },
          {
            href: "#",
            text: "Visas and immigration"
          },
          {
            href: "#",
            text: "Working, jobs and pensions"
          }
        ]
      },
      {
        title: "Departments and policy",
        width: "one-third",
        items: [
          {
            href: "#",
            text: "How government works"
          },
          {
            href: "#",
            text: "Departments"
          },
          {
            href: "#",
            text: "Worldwide"
          },
          {
            href: "#",
            text: "Policies"
          },
          {
            href: "#",
            text: "Publications"
          },
          {
            href: "#",
            text: "Announcements"
          }
        ]
      }
    ],
    meta: {
      items: [
        {
          href: "/manage-prototype/clear-data",
          text: "Clear data"
        },
        {
          href: "/manage-prototype",
          text: "Manage prototype"
        },
        {
          href: "#",
          text: "Show hidden text",
          attributes: {"data-module": "prototype-reveal-hidden"}
        },
				{
					href: "#",
					text: "Hide phase banner",
					attributes: {"data-module": "prototype-toggle-phase-banner"}
				}
      ],
      html: 'Built by the <a href="#" class="govuk-footer__link">Ministry of Housing, Communites & Local Government Funding Service</a>'
    }
  }) }}

{% endblock %}
