.moj-scrollable-pane {
  position: relative;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.moj-scrollable-pane::before,
.moj-scrollable-pane::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 60px;
  pointer-events: none;
  z-index: 1;
}

.moj-scrollable-pane::before {
  left: 0;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );
}

.moj-scrollable-pane::after {
  right: 0;
  background: linear-gradient(
    to left,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );
}

.moj-scrollable-pane table {
  width: max-content;
}