{% extends "layouts/grantNoSignin.html" %}

{% set showBackLink = true %}

{% set pageSize = "xl" %}
{% set pageHeading = "Allowing other people to join your organisation" %}
{% set pageSection = "Create an account" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

{# 1. Define the email #}
{% set emailAddress = data['email-check'] or "user@alocalcouncil.gov.uk" %}
{# 2. Split it at the '@' and grab the second part (the domain) #}
{% set emailDomain = emailAddress.split('@')[1] %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l">{{ pageSection }}</span>
    <h1 class="govuk-heading-xl">{{ pageHeading }}</h1>

    <p class="govuk-body">
      Anyone with a @{{ emailDomain }} email address can be added to your organisation in this service.
    </p>

    <p class="govuk-body">
      This will happen automatically when they sign in for the first time if you allow them to.
    </p>

    <p class="govuk-body">
      If you choose not to allow this, you'll need to add other people to your organisation manually.
    </p>

    <form action="cya" method="post" novalidate>

      <div class="govuk-form-group govuk-!-margin-top-6">
        <fieldset class="govuk-fieldset">
          
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            Do you want other people to join your organisation automatically?
          </legend>
          
          <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="link-domain-yes" name="linkDomain" type="radio" value="Yes">
              <label class="govuk-label govuk-radios__label" for="link-domain-yes">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="link-domain-no" name="linkDomain" type="radio" value="No">
              <label class="govuk-label govuk-radios__label" for="link-domain-no">
                No
              </label>
            </div>
          </div>

        </fieldset>
      </div>

      <button type="submit" class="govuk-button govuk-!-margin-top-4" data-module="govuk-button">
        Continue
      </button>

    </form>

  </div>
</div>
{% endblock %}