{% extends "layouts/grantNoSignin.html" %}

{% set showBackLink = true %}

{% set pageSize = "xl" %}
{% set pageHeading = "Enter your work email address" %}
{% set pageSection = "Safer social housing fund" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="email-sent" method="post" novalidate>
      
      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper">
          <span class="govuk-caption-l">{{ pageSection }}</span>
          <label class="govuk-label govuk-label--xl" for="email">
            {{ pageHeading }}
          </label>
        </h1>
        
        <div id="email-hint" class="govuk-hint">
     You'll need to verify your email address - we'll only use it if you are eligible to apply
        </div>
        
        <input class="govuk-input govuk-!-width-two-thirds" id="email" name="email-check" type="email" spellcheck="false" aria-describedby="email-hint" autocomplete="email">
      </div>

      <button type="submit" class="govuk-button" data-module="govuk-button">
        Continue
      </button>
      
    </form>

  </div>
</div>
{% endblock %}