{% extends "layouts/access.html" %}

{% set showBackLink = true %}

{% set pageSize = "xl" %}
{% set pageHeading = "Remove Shayne Boyle from Safer social housing fund?" %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Remove Shayne Boyle from Safer social housing fund?
    </h1>

    <p class="govuk-body">
      Shayne Boyle (sboyle@hastings.gov.uk) will lose access to Hastings Borough Council's Safer social housing fund.
    </p>

    <form action="team4" method="post" novalidate>
      <div class="govuk-button-group govuk-!-margin-top-6">
        <button type="submit" class="govuk-button" data-module="govuk-button">
          Confirm and remove team member
        </button>
        <a class="govuk-link" href="team">Cancel</a>
      </div>
    </form>

  </div>
</div>
{% endblock %}