{% extends "layouts/deliver.html" %}

{% set showBackLink = true %}
{% set showBackApplicationsLink = false %}


{% set pageSize = "l" %}
{% set pageHeading = "What date will applications open?" %}
{% set pageSection = "Set up the grant" %}

{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}


<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">

        {{ macroPageHeader.pageHeader(pageNested,pageHeading,pageSection,pageHiddentext,pageSize) }}

        <p class="govuk-body">If applications have already opened, enter the date for reference.</p>

        <form method="post" action="/funding/grant/add/closing-date">

            {{ govukDateInput({
                id: "grant-openingDate",
                namePrefix: "grant-openingDate",
                fieldset: {
                    legend: {
                        text: pageHeading,
                        isPageHeading: true,
                        classes: "govuk-fieldset__legend govuk-visually-hidden"
                    }
                },
                hint: {
                  text: "For example, 27 7 2025"
                },
                value: data['grant-openingDate']
            }) }}


            {{ govukButton({
                text: "Save and continue"
            }) }}
        </form>
    </div>
</div>

{% endblock %}

<!-- *bc* -->