{% extends "layouts/deliver.html" %}

{% set showBackLink = false %}
{% set showBackApplicationsLink = false %}


{% set pageSize = "l" %}
{% set pageHeading = "Do you know the grants tracker id?" %}
{% set pageSection = "Set up the grant" %}

{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}


<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">

    	{{ macroPageHeader.pageHeader(pageNested,pageHeading,pageSection,pageHiddentext,pageSize) }}

      <p class="govuk-body">This is the Ministry of Housing, Communities and Local Government (MHCLG) tracker id.</p>
      <p class="govuk-body">[Insert question content here - see the for examples]</p>

      <form class="form" action="/grant/profile/ggid-reference" method="post">


        {% set emailHtml %}
{{ govukInput({
  id: "grantTrackerId",
  name: "grantTrackerId",
  type: "number",
  autocomplete: "number",
  spellcheck: false,
  classes: "govuk-!-width-two-thirds",
  label: {
    text: "MHCLG tracker ID"
  }
}) }}
{% endset -%}



        {{ govukRadios({
          name: "grantTrackerKnown",
          id: "grantTrackerKnown",
          fieldset: {
            legend: {
            text: "Select an option to update your RIBA reporting stage",
            isPageHeading: true,
            classes: "govuk-fieldset__legend govuk-visually-hidden"
            }
          },
          items: [
            { value: "Yes", text: "Yes", conditional: { html: emailHtml }, checked: checked("grantTrackerKnown", "Yes") },
            { value: "No", text: "No", checked: checked("grantTrackerKnown", "No") }
          ]
        }) }}




        {{ govukButton({
          text: "Save and continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
