{% extends "layouts/access.html" %}

{% set showBackLink = true %}

{% set pageSize = "xl" %}
{% set pageHeading = "You are not eligible for this grant" %}
{% set pageSection = "Safer social housing fund" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">{{ pageHeading }}</h1>

    <p class="govuk-body">
      Your answers show that your organisation does not meet the requirements for the Safer social housing fund.
    </p>

    <p class="govuk-body">To apply for this grant, you must:</p>

    <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6">
      <li>be applying on behalf of a Local Authority, registered charity, VCSE, or a business operating in the housing sector</li>
      <li>manage properties located in England</li>
      <li>be applying for a minimum funding value of £500</li>
    </ul>

    <h2 class="govuk-heading-m">If you think you are eligible</h2>
    
    <p class="govuk-body">
      If you made a mistake answering the questions, you can <a href="eligibility" class="govuk-link">go back and check your eligibility again</a>.
    </p>

  <form id="eligibilityForm" novalidate>
  	   <button type="submit" class="govuk-button govuk-!-margin-top-6" data-module="govuk-button">
        Find another grant
      </button>
  </form>
   

  </div>
</div>
{% endblock %}