{% if data['version'] == "suggested" %}
    {% extends "layouts/assess-newNew.html" %}
{% else %}
    {% extends "layouts/mainAssess.html" %}
{% endif %}

{% set showBackLink = false %}
{% set showBackApplicationsLink = false %}

{% set pageSize = "xl" %}
{% set pageHeading = "Fund:" %}
{% set pageSection = "" %}


{% set pagePreviouslabel = "Organisation information" %}
{% set pagePreviouslink = "/assess/fund/application/organisation/" %}
{% set pageNextlabel = "Your skills and experience" %}
{% set pageNextlink = "/assess/fund/application/skills-and-experience/" %}



{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

	{% if data['version'] == "suggested" %}


	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">
			<span class="govuk-caption-xl">Unscored information</span>
			<h1 class="govuk-heading-xl">Review this section</h1>
		</div>

        <div class="govuk-grid-column-two-thirds">

            <div class="govuk-inset-text govuk-!-margin-top-0">Review against legal and policy requirements.</div>
            <div class="govuk-summary-card govuk-!-margin-bottom-9">
                    <div class="govuk-summary-card__title-wrapper">
                        <h2 class="govuk-summary-card__title">
                          Declarations
                        </h2>
                      </div>
                    <div class="govuk-summary-card__content">
                        <dl class="govuk-summary-list">
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Confirmation you have signed the Local Digital Declaration and agree to follow the 5 principles</dt>
                                  <dd class="govuk-summary-list__value">You have signed the Local Digital Declaration and agree to follow the 5 principles</dd>
                                  <dd class="govuk-summary-list__actions">

                                  </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Confirmation your section 151 officer consents to the funds being carried over and spent in the next financial year (March 2025 to April 2026) and beyond if deemed necessary in project budget planning</dt>
                                  <dd class="govuk-summary-list__value">Your section 151 officer consents to the funds being carried over and spent in the next financial year (March 2025 to April 2026) and beyond if deemed necessary in project budget planning</dd>
                                  <dd class="govuk-summary-list__actions">

                                  </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Confirmation you agree to let all outputs from this work be published under open licence with a view to any organisation accessing, using or adopting them freely</dt>
                                  <dd class="govuk-summary-list__value">You agree to let all outputs from this work be published under open licence with a view to any organisation accessing, using or adopting them freely</dd>
                                  <dd class="govuk-summary-list__actions">

                                  </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Confirmation the information you have provided is accurate</dt>
                                  <dd class="govuk-summary-list__value">The information you have provided is accurate</dd>
                                  <dd class="govuk-summary-list__actions">

                                  </dd>
                            </div>
                        </dl>
                    </div>
                </div>





                 <!-- <h2 class="govuk-heading-m govuk-!-margin-top-9">Score these responses</h2> -->


                 <form method="post" action="/assess/fund/application/skills-and-experience/" >

                   {{ govukButton({
                     text: "Continue to next section",
                     classes: "govuk-!-margin-bottom-9"
                   }) }}

                 </form>



             {{ macroPagePagination.pagePagination( pagePreviouslabel, pagePreviouslink, pageNextlabel, pageNextlink) }}

             <!-- hint: {
                 html: 'Explain why you think this score is justified based on the <a href="#">assessment criteria</a>.'
                 html: 'Use these Score this sub criteria against the <a href="#">assessment criteria</a>. Explain why you think this score is justified based on the <a href="#">assessment criteria</a> '
               } -->

         <!-- Switcher between current and suggested changes -->
         {% include "/assess/includes/version-switch.html" %}



        </div>
        <div class="govuk-grid-column-one-third">
            <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Comments</h2>
            <!-- <p class="govuk-body">Summarise any thoughts you have on the assessment.</p> -->
            <!-- <p class="govuk-body">No comments have been left yet.</p> -->
            <p class="govuk-body">There are no comments to show for these sections.</p>
            <p class="govuk-body"><a href="#" class="govuk-link">Add a comment</a></p>


        </div>
    </div>

    {% else %}

<div class="govuk-width-container">
    {{ govukBackLink({
        text: "Back to assessment landing",
        href: "javascript:history.go(-1)"
    }) }}

    <div class="govuk-!-display-inline-block float-right govuk-!-margin-top-3 nag">
        <a href="/assess/help">Get help</a>  <a href="#">Log out</a>
    </div>
</div>

<div class="x-govuk-masthead">
    <div class="govuk-width-container">


        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds-from-desktop">
                <h1 class="x-govuk-masthead__title">{{ pageHeading }} <span class="govuk-!-font-weight-regular">{{ data.fundName }} Fund</span></h1>
                <p class="x-govuk-masthead__description govuk-!-font-size-36"><span class="govuk-!-font-weight-bold">Project reference:</span> ZWNEHL</p>
                <p class="x-govuk-masthead__description"><span class="govuk-!-font-weight-bold">Project name:</span> Sneaker Politics
                <br>

                {% if data[''] == "" %}
                <strong class="govuk-tag govuk-tag-white overSizeWhite">NOT STARTED</strong>
                {% else %}
                <span class="govuk-!-font-weight-bold">Total funding requested:</span> £0.00</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="govuk-width-container">
    <main class="govuk-main-wrapper" id="main-content" role="main">

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third">

                <h2 class="govuk-heading-l">Declarations</h2>
                <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible section_break_blue">
                <ul class="govuk-list">
                    <li>Declarations</li>
                </ul>
            </div>

            <div class="govuk-grid-column-two-thirds">

                <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
                <div class="govuk-summary-card template-answer">
                    <div class="govuk-summary-card__title-wrapper">
                        <h2 class="govuk-summary-card__title">
                          Applicant's response
                        </h2>
                      </div>
                    <div class="govuk-summary-card__content">
                        <dl class="govuk-summary-list">
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Confirmation you have signed the Local Digital Declaration and agree to follow the 5 principles</dt>
                                  <dd class="govuk-summary-list__value">You have signed the Local Digital Declaration and agree to follow the 5 principles</dd>
                                  <dd class="govuk-summary-list__actions">

                                  </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Confirmation your section 151 officer consents to the funds being carried over and spent in the next financial year (March 2025 to April 2026) and beyond if deemed necessary in project budget planning</dt>
                                  <dd class="govuk-summary-list__value">Your section 151 officer consents to the funds being carried over and spent in the next financial year (March 2025 to April 2026) and beyond if deemed necessary in project budget planning</dd>
                                  <dd class="govuk-summary-list__actions">

                                  </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Confirmation you agree to let all outputs from this work be published under open licence with a view to any organisation accessing, using or adopting them freely</dt>
                                  <dd class="govuk-summary-list__value">You agree to let all outputs from this work be published under open licence with a view to any organisation accessing, using or adopting them freely</dd>
                                  <dd class="govuk-summary-list__actions">

                                  </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Confirmation the information you have provided is accurate</dt>
                                  <dd class="govuk-summary-list__value">The information you have provided is accurate</dd>
                                  <dd class="govuk-summary-list__actions">

                                  </dd>
                            </div>
                        </dl>
                    </div>
                </div>

                <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Comments</h2>
                <p><a href="#" class="govuk-link govuk-!-font-size-16">Add a comment</a></p>
                <p>Summarise any thoughts you have on the assessment.</p>

                <p>No comments have been left yet.</p>

                {{ macroPagePagination.pagePagination( pagePreviouslabel, pagePreviouslink, pageNextlabel, pageNextlink) }}



            </div>

        </div>




    <!-- Switcher between current and suggested changes -->
    {% include "/assess/includes/version-switch.html" %}

    </div>
</div>



{% endif %}
{% endblock %}