{% extends "layouts/main.html" %}

{% if data['version'] == "suggested" %}
    {% set pageSize = "xl" %}
{% set pageHeading = "Why do you want to be a part of the ODP community?" %}
    {% set pageSection = "Engaging the Open Digital Planning community" %}
{% else %}
	{% set pageSize = "xl" %}
{% set pageHeading = "Why do you want to be a part of the ODP (Open Digital Planning) community?" %}
	{% set pageSection = "" %}
{% endif %}

{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}


<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">

        {{ macroPageHeader.pageHeader(pageNested,pageHeading,pageSection,pageHiddentext,pageSize) }}

		{% if data['version'] == "suggested" %}

		<p class="govuk-body">You should include what you will:</p>
		<ul class="govuk-list govuk-list--bullet">
			<li>get from the community</li>
			<li>give to the community</li>
		</ul>

		{% if data['linkStatus'] == "change" %}
		<form method="post" action="/apply/engaging-digital-planning/check-your-answers" >
		{% else %}
		<form method="post" action="/apply/engaging-digital-planning/check-your-answers" >
		{% endif %}

			 <!-- Session information to say section started - but not completed -->
			{% if not data.section4_1 %}
            <input type="hidden" id="section4_1" name="section4_1" value="Started" />
            {% endif %}

			{{ govukCharacterCount({
				name: "4_1_whyOpenDigitalPlanning",
				id: "4_1_whyOpenDigitalPlanning",
				maxwords: 250,
				value: data['4_1_whyOpenDigitalPlanning']  ,
				label: {
				  text: pageHeading,
				  classes: "govuk-label--l govuk-visually-hidden",
				  isPageHeading: false
				}
			  }) }}


            {{ govukButton({
                text: "Save and continue"
            }) }}
        </form>


		{% else %}
		<p class="govuk-body govuk-hint">Tell us:</p>
		<ul class="govuk-list govuk-list--bullet govuk-hint">
			<li>what you will get from the community</li>
			<li>what you will give to the community</li>
		</ul>

		{% if data['linkStatus'] == "change" %}
		<form method="post" action="/apply/engaging-digital-planning/check-your-answers" >
		{% else %}
		<form method="post" action="/apply/engaging-digital-planning/check-your-answers" >
		{% endif %}

			 <!-- Session information to say section started - but not completed -->
			{% if not data.section4_1 %}
            <input type="hidden" id="section4_1" name="section4_1" value="Started" />
            {% endif %}

			{{ govukCharacterCount({
				name: "4_1_whyOpenDigitalPlanning",
				id: "4_1_whyOpenDigitalPlanning",
				maxwords: 250,
				value: data['4_1_whyOpenDigitalPlanning']  ,
				label: {
				  text: pageHeading,
				  classes: "govuk-label--l govuk-visually-hidden",
				  isPageHeading: false
				}
			  }) }}


            {{ govukButton({
                text: "Save and continue"
            }) }}
        </form>

		{% endif %}

		{% if data['version'] == "suggested" %}
            {{ macroCurrent.pageCurrent(url) }}
        {% else %}
            {{ macroSuggested.pageSuggested(url) }}
        {% endif %}

    </div>
</div>

{% endblock %}