{% extends "layouts/access2.html" %}
{% set navID = 'grantUsers' %}

{% set showBackLink = false %}

{% set pageSize = "xl" %}
{% set pageHeading = "Confirm Leia Organa's email address" %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Confirm Sharon Plumpton's email address
    </h1>

        
  <p class="govuk-body">
      Email addresses for Hastings Borough Council usually end in @hastings.gov.uk
    </p>

    <p class="govuk-body">
      We noticed this email address does not match your organisation's usual format:
    </p>

    <div class="govuk-inset-text">
      splumpton@lewes-eastbourne.gov.uk
    </div>

    <form action="" method="post" novalidate>
      <div class="govuk-button-group govuk-!-margin-top-6">
        <button type="submit" class="govuk-button" data-module="govuk-button">
          Confirm and add team member
        </button>
        <a class="govuk-link" href="add_user">Cancel</a>
      </div>
    </form>

  </div>
</div>
{% endblock %}