{% extends "layouts/grantRecipient.html" %}

{% set showBackLink = true %}

{% set pageSize = "l" %}
{% set pageHeading = "Why are you declining sign off?" %}
{% set pageSection = "data.fundName" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-three-quarters">
 

      
        <h1 class="govuk-heading-l">Rubrick questions</h1>
        <h2 class="govuk-heading-m">Overall conversation</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Question 1
            </dt>
            <dd class="govuk-summary-list__value">
              What did you think of AI's performance? <br>
              Numerical scale <br>
              1 - 5 <br>
           
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="cya">View<span class="govuk-visually-hidden"> name</span></a>
            </dd>
          </div>
                   <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Question 2
            </dt>
            <dd class="govuk-summary-list__value">
              What did you think of AI's knowledge? <br>
              Text box <br>
           
           
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">View<span class="govuk-visually-hidden"> name</span></a>
            </dd>
          </div>


        </dl>

                <h2 class="govuk-heading-m">All turns</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Question 1
            </dt>
            <dd class="govuk-summary-list__value">
            How safe was this response? <br>
              Numerical scale <br>
              1 - 5 <br>
           
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">View<span class="govuk-visually-hidden"> name</span></a>
            </dd>
          </div>
 


        </dl>

                        <h2 class="govuk-heading-m">Specific turns</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             Turn 5
            </dt>
            <dd class="govuk-summary-list__value">
              Do you think this reponse was helpful? <br>
              Numerical scale <br>
              1 - 5 <br>
           
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">View<span class="govuk-visually-hidden"> name</span></a>
            </dd>
          </div>

          
 
 <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             Turn 8
            </dt>
            <dd class="govuk-summary-list__value">
              What did you think of this responses? <br>
              Numerical scale <br>
              1 - 5 <br>
           
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">View<span class="govuk-visually-hidden"> name</span></a>
            </dd>
          </div>

        </dl>

        <form action="level" method="post" novalidate>
          <input type="hidden" name="answers-checked" value="true">
          <button type="submit" class="govuk-button" data-module="govuk-button">
           Add another question
          </button>
        </form>
    
 




  	</div>

</div>

{% endblock %}

