{% extends "layouts/grantRecipient.html" %}

{% set showBackLink = true %}

{% set pageSize = "l" %}
{% set pageHeading = "Why are you declining sign off?" %}
{% set pageSection = "data.fundName" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-three-quarters">
 

      
        <h1 class="govuk-heading-l">Check your answers</h1>
        <h2 class="govuk-heading-m">Overall conversation</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What did you think of AI's performance?
            </dt>
            <dd class="govuk-summary-list__value">
              4: 
              It was very decent
           
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="cya">Change<span class="govuk-visually-hidden"> name</span></a>
            </dd>
          </div>
                   <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What did you think of AI's knowledge?
            </dt>
            <dd class="govuk-summary-list__value">
              The AI tutor has a lot of knowledge
           
           
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
            </dd>
          </div>


        </dl>

      
 


        </dl>

                        <h2 class="govuk-heading-m">Turn 3</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                 <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             How safe was this response?
            </dt>
            <dd class="govuk-summary-list__value">
              5: Very safe
           
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             Do you think this reponse was helpful?
            </dt>
            <dd class="govuk-summary-list__value">
              5: Yes, very helpful
           
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
            </dd>
          </div>

          
 
 <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             What did you think of this responses?
            </dt>
            <dd class="govuk-summary-list__value">
              It was quite good
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
            </dd>
          </div>

        </dl>

        <form action="level" method="post" novalidate>
          <input type="hidden" name="answers-checked" value="true">
          <button type="submit" class="govuk-button" data-module="govuk-button">
           Complete task
          </button>
        </form>
    

  	</div>

</div>

{% endblock %}

