{% extends "layouts/main.html" %}

{% if data['version'] == "suggested" %}
    {% set pageSize = "xl" %}
{% set pageHeading = "Who is your  Section 151 officer?" %}
    {% set pageSection = "Organisation information" %}
{% else %}
    {% set pageSize = "xl" %}
{% set pageHeading = "Section 151 officer details" %}
    {% set pageSection = "" %}
{% endif %}

{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}


<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">

        {{ macroPageHeader.pageHeader(pageNested,pageHeading,pageSection,pageHiddentext,pageSize) }}

        {% if data['linkStatus'] == "change" %}
            <form method="post" action="/apply/organisation/check-your-answers?linkStatus=" >
        {% else %}
            <form method="post" action="/apply/organisation/lead-contact" >
        {% endif %}

            {{ govukInput({
                label: {
                    text: "First name",
                    classes: "govuk-label",
                    isPageHeading: false
                },
                classes: "govuk-!-width-two-thirds",
                id: "2_1_section151FirstName",
                name: "2_1_section151FirstName",
                value: data['2_1_section151FirstName'],
                spellcheck: "false"
            }) }}

            {{ govukInput({
                label: {
                    text: "Last name",
                    classes: "govuk-label",
                    isPageHeading: false
                },
                classes: "govuk-!-width-two-thirds",
                id: "2_1_section151LastName",
                name: "2_1_section151LastName",
                value: data['2_1_section151LastName'],
                spellcheck: "false"
            }) }}

            {{ govukInput({
                label: {
                    text: "Email address",
                    classes: "govuk-label",
                    isPageHeading: false
                },
                classes: "govuk-!-width-two-thirds",
                id: "2_1_section151Email",
                name: "2_1_section151Email",
                value: data['2_1_section151Email'],
                type: "email",
                autocomplete: "email",
                spellcheck: "false"
            }) }}

            {{ govukInput({
                label: {
                    text: "Telephone number",
                    classes: "govuk-label",
                    isPageHeading: false
                },
                classes: "govuk-!-width-two-thirds",
                id: "2_1_section151Phone",
                name: "2_1_section151Phone",
                value: data['2_1_section151Phone'],
                type: "tel",
                autocomplete: "tel"
            }) }}

            {{ govukButton({
                text: "Continue"
            }) }}


        </form>


        {% if data['version'] == "suggested" %}
            {{ macroCurrent.pageCurrent(url) }}
        {% else %}
            {{ macroSuggested.pageSuggested(url) }}
        {% endif %}


    </div>
</div>

{% endblock %}