{% extends "layouts/access.html" %}

{% set showBackLink = false %}

{% set pageSize = "xl" %}
{% set pageHeading = "Allocation form" %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <a href="#" class="govuk-back-link govuk-!-margin-bottom-7">Back to forms</a>

    <h1 class="govuk-heading-xl">Validation</h1>

    <p class="govuk-body govuk-!-margin-bottom-2">
      <strong>Submission deadline:</strong> Thursday 30 April 2026
    </p>
    <p class="govuk-body govuk-!-margin-bottom-8">
      <strong>Status:</strong> <strong class="govuk-tag govuk-tag--grey govuk-!-margin-left-1">In progress</strong>
    </p>

    <!-- Task List represented as a table for consistent styling -->
    <table class="govuk-table govuk-!-margin-bottom-9">
      <tbody class="govuk-table__body" style="border-top: 1px solid #b1b4b6;">
        
        <tr class="govuk-table__row">
          <td class="govuk-table__cell govuk-!-padding-top-3 govuk-!-padding-bottom-3">
            <a href="" class="govuk-link">Your allocation</a>
          </td>
          <td class="govuk-table__cell govuk-!-text-align-right govuk-!-padding-top-3 govuk-!-padding-bottom-3">
         Completed
          </td>
        </tr>
        
        <tr class="govuk-table__row">
          <td class="govuk-table__cell govuk-!-padding-top-3 govuk-!-padding-bottom-3">
            <a href="project_info" class="govuk-link">Project information</a>
          </td>
          <td class="govuk-table__cell govuk-!-text-align-right govuk-!-padding-top-3 govuk-!-padding-bottom-3">
            <strong class="govuk-tag govuk-tag--grey">Not started</strong>
          </td>
        </tr>
        
        <tr class="govuk-table__row">
          <td class="govuk-table__cell govuk-!-padding-top-3 govuk-!-padding-bottom-3">
            <a href="#" class="govuk-link">Contact information</a>
          </td>
          <td class="govuk-table__cell govuk-!-text-align-right govuk-!-padding-top-3 govuk-!-padding-bottom-3">
           <strong class="govuk-tag govuk-tag--grey">Not started</strong>
          </td>
        </tr>

      </tbody>
    </table>

    <h2 class="govuk-heading-m">Submit your form to your certifier</h2>
    
    <p class="govuk-body">
      You can submit the form for sign off once it's complete.
    </p>
        <p class="govuk-body">
 We'll send the form to Jane Doe. View who has access to the report and their permissions on the <a href=""> Team page</a>.


    </p>
        <p class="govuk-body">
    You cannot make changes while your form is awaiting sign off.
    </p>
    
    <form action="" method="post" novalidate>
      <button type="submit" class="govuk-button govuk-!-margin-top-3" data-module="govuk-button" disabled aria-disabled="true">
        Submit form to certifier
      </button>
    </form>

  </div>
</div>
{% endblock %}