{% extends "layouts/grantRecipient.html" %}

{% set showBackLink = false %}

{% set pageSize = "xl" %}
{% set pageHeading = "Collection submitted" %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">
        Collection submitted
      </h1>
      <div class="govuk-panel__body">
        Collection<br>
        <strong>Allocation form for Benches allocated in parks</strong><br><br>
        Your reference number<br>
        <strong>BAIP-LT9D6YX</strong>
      </div>
    </div>

    <p class="govuk-body">
      We have sent a confirmation email to you and anyone else who has access to this collection.
    </p>

    <p class="govuk-body">
      You can <a href="#" class="govuk-link">download the collection as a PDF</a>.
    </p>

    <h2 class="govuk-heading-m">What happens next</h2>

    <p class="govuk-body">
      Your Allocation form collection for Benches allocated in parks has been submitted to the Ministry of Housing, Communities and Local Government.
    </p>

    <p class="govuk-body govuk-!-margin-bottom-6">
      <a href="#" class="govuk-link" target="_blank" rel="noreferrer noopener">Tell us what you think of this service (opens in new tab)</a>
    </p>

    <p class="govuk-body">
      <a href="#" class="govuk-link">Return to award</a>
    </p>

  </div>
</div>
{% endblock %}