{% extends "layouts/access-nav.html" %}

{% set showBackLink = false %}

{% set pageSize = "xl" %}
{% set pageHeading = "Glasgow City Council" %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    
    <h1 class="govuk-heading-xl">Grant funding</h1>

    <dl class="govuk-summary-list govuk-!-margin-bottom-8" style="border-top: 1px solid #b1b4b6;">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-third">
          Grant
        </dt>
        <dd class="govuk-summary-list__value">
          Safer social housing fund
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Award status
        </dt>
        <dd class="govuk-summary-list__value">
          <strong class="govuk-tag govuk-tag--light-blue">Allocated</strong>
        </dd>
      </div>
    </dl>
    
<h2 class="govuk-heading-l">Forms</h2>


    <p class="govuk-body">
      View and complete forms related to grant funding. These may include forms to apply for, express interest for, or validate a grant. 
    </p>

  </div>
</div>



<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <table class="govuk-table govuk-!-margin-top-6">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Form name</th>
          <th scope="col" class="govuk-table__header">Due date</th>
          <th scope="col" class="govuk-table__header">Status</th>
          <th scope="col" class="govuk-table__header"><span class="govuk-visually-hidden">Action</span></th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
    
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Validation</td>
          <td class="govuk-table__cell">30 April 2026</td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey">Not started</strong></td>
          <td class="govuk-table__cell"><a href="allocation_form" class="govuk-link">Start form</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

{% endblock %}