{% extends "layouts/grantRecipient.html" %}

{% set showBackLink = true %}

{% set pageSize = "l" %}
{% set pageHeading = "Select a previous section" %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form method="post" action="question" novalidate>
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <span class="govuk-caption-l">Question condition</span>
            <h1 class="govuk-fieldset__heading">
              Select a previous section
            </h1>
          </legend>

          <div class="govuk-radios" data-module="govuk-radios">
            
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="previous-section-1" name="previousSection" type="radio" value="backlog-funding">
              <label class="govuk-label govuk-radios__label" for="previous-section-1">
                Backlog funding/expenditure
              </label>
            </div>
            
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="previous-section-2" name="previousSection" type="radio" value="skills-funding">
              <label class="govuk-label govuk-radios__label" for="previous-section-2">
                Skills funding expenditure
              </label>
            </div>
            
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="previous-section-3" name="previousSection" type="radio" value="test123-section">
              <label class="govuk-label govuk-radios__label" for="previous-section-3">
                Test123 section
              </label>
            </div>

          </div>
        </fieldset>
      </div>

      <div class="govuk-button-group">
        <button type="submit" class="govuk-button" data-module="govuk-button">
          Select section
        </button>
        <a class="govuk-link" href="#">Cancel</a>
      </div>
    </form>

  </div>
</div>
{% endblock %}