{% extends "layouts/grantNoSignin.html" %}

{% set showBackLink = false %}

{% set pageSize = "xl" %}
{% set pageHeading = "You do not have access" %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      You do not have access
    </h1>

    <p class="govuk-body">
      You cannot sign in to Access grant funding because there is no account for your email ({{ data['email'] or "name@email.com"  }}). 
    </p>

    <p class="govuk-body">
      If someone in your organisation has access, they can add you or you can <a href="../request/full_name" class="govuk-link">request access</a>.
    </p>

    <h2 class="govuk-heading-s govuk-!-margin-top-6">
      Get help
    </h2>

    <p class="govuk-body">
      If you're having any issues, <a href="#" class="govuk-link" target="_blank" rel="noreferrer noopener">contact our support desk (opens in new tab)</a>.
    </p>

  </div>
</div>
{% endblock %}