{{ xGovukSecondaryNavigation({
    visuallyHiddenTitle: "Secondary menu",
    items: [
        { text: "Collections", href: "#", current: true}, 
        { text: "Rounds", href: "#" }, 
        { text: "Questions", href: "#" }
    ]
}) }}