<div class="govuk-summary-card ">
    <div class="govuk-summary-card__title-wrapper summaryBackground">
        <h2 class="govuk-summary-card__title govuk-!-font-size-24">Round 2</h2>
        <ul class="govuk-summary-card__actions">
            <li class="govuk-summary-card__action">
              <a class="govuk-link summaryLinkOveride" href="#">Manage tags<span class="govuk-visually-hidden"> of University of Gloucestershire (University of Gloucestershire)</span></a>
            </li>
          </ul>
    </div>
    <div class="govuk-summary-card__content">

        <!-- Tag for status -->
        <strong class="govuk-tag govuk-tag--grey overSizeGrey">ASSESSMENT CLOSED</strong>
        <!-- // -->

        <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Assessment closing date</dt>
                <dd class="govuk-summary-list__value">31 January 2025 at 12:00pm</dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Applications received</dt>
                <dd class="govuk-summary-list__value">76</dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Assessments completed</dt>
                <dd class="govuk-summary-list__value">5</dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Assessments started</dt>
                <dd class="govuk-summary-list__value">9</dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">QA Complete</dt>
                <dd class="govuk-summary-list__value">7</dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Stopped Assessments</dt>
                <dd class="govuk-summary-list__value">1</dd>
            </div>

        </dl>


        <a href="#">View all closed assessments</a>
        <br>
        <br>
        <a href="#">Export application information</a>
        <br>
        <br>
        <a href="#">Export feedback survey responses</a>
        <br>
        <br>
        <a href="#">Assessment Tracker Export</a>
    </div>



</div>
