{% extends "layouts/grantNoSignin.html" %}
{% set serviceName = "" %}

{% set title = 'Email: Review access request' %}

{% block pageTitle %}
  {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">


    <div class="email-message">
      <table class="govuk-table email-message-meta">
          <tbody>
            <tr>
              <th class="govuk-table__cell" scope="row">From</th>
              <td class="govuk-table__cell">The Funding Service team</td>
            </tr>
            <tr>
              <th class="govuk-table__cell" scope="row">To</th>
              <td class="govuk-table__cell"><span class='placeholder-no-brackets'>{{ data['emailAddress'] or "newuser@company.com" }}</span></td>
            </tr>
            <tr class="email-message-meta">
              <th class="govuk-table__cell" scope="row">Subject</th>
              <td class="govuk-table__cell">You can sign in to Access grant funding</td>
            </tr>
          </tbody>
        </table>
        <div class="email-message-body">

          <p>Hello,</p>
      
          <p>You now have access to Castle Housing Limited's {{ data['grantSelect'] or "Safer social housing fund" }}.</p>
          
           <div class="govuk-inset-text">
            <p>The link will work once and stop working after 15 minutes.</p>
          </div>

          <h2 class="govuk-heading-s govuk-!-margin-bottom-1">If your link has expired</h2>

          <p>If the link has expired, you can <a href="#">request a new link</a>.</p>

          <h2 class="govuk-heading-s govuk-!-margin-bottom-1 govuk-!-margin-top-6">Get help</h2>
          
          <p>If you have any questions or need help signing in, <a href="#">contact our support desk</a>.</p>

          <p>Monday to Friday, 9am to 5pm (except public holidays).</p>

          <p>The Funding Service team</p>

        </div>
    </div>



  





  </div>
</div>

{% endblock %}