{% extends "layouts/grantNoSignin.html" %}

{% set showBackLink = true %}

{% set pageSize = "xl" %}
{% set pageHeading = "Your organisation already exists" %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Your organisation already exists
    </h1>
    <p class="govuk-body">
    Neighbourhood Connect is already an existing organisation on Access grant funding.
    </p>

   <h2 class="govuk-heading-m">Contact our support desk</h2>

    <p class="govuk-body">
      To continue your application, contact our <a href="#" class="govuk-link" target="_blank" rel="noreferrer noopener">support desk (opens in new tab)</a>.
    </p>

    <p class="govuk-body">
      Monday to Friday 9am to 5pm (except public holidays).
    </p>

  </div>
</div>
{% endblock %}