        <h2 class="govuk-heading-m">1. Before you start</h2>
      	{{ govukTaskList({
        	idPrefix: "first-section",
        	items: [
          		{ title: { text: "1.1 Name your application" }, href: "/apply/application-name/", status: ( completedStatus if data['section1_1'] == "yes" else notstartedStatus ) }
        	]
      	}) }}

		  <h2 class="govuk-heading-m">2. About your organisation</h2>
      	{{ govukTaskList({
        	idPrefix: "first-section",
        	items: [
          		{ title: { text: "2.1 Organisation information" }, href: "/apply/organisation/", status: ( completedStatus if data['section2_1'] == "yes" else notstartedStatus ) }
        	]
      	}) }}

		  <h2 class="govuk-heading-m">3. Your skills and experience</h2>
      	{{ govukTaskList({
        	idPrefix: "first-section",
        	items: [
          		{ title: { text: "3.1 Your skills and experience" }, href: "/apply/skills-and-experience/", status: ( completedStatus if data['section3_1'] == "yes" else notstartedStatus ) },
				{ title: { text: "3.2 Roles and recruitment" }, href: "/apply/roles-and-recruitment/", status: ( completedStatus if data['section3_2'] == "yes" else notstartedStatus ) }
        	]
      	}) }}

		  <h2 class="govuk-heading-m">4. About your project</h2>
      	{{ govukTaskList({
        	idPrefix: "first-section",
        	items: [
          		{ title: { text: "4.1 Engaging the ODP (Open Digital Planning) community" }, href: "/apply/engaging-digital-planning/", status: ( completedStatus if data['section4_1'] == "yes" else notstartedStatus ) },
				{ title: { text: "4.2 Engaging the organisation" }, href: "/apply/engaging-the-organisation/", status: ( completedStatus if data['section4_2'] == "yes" else notstartedStatus ) },
				{ title: { text: "4.3 Dataset information" }, href: "/apply/dataset-information/", status: ( completedStatus if data['section4_2'] == "yes" else notstartedStatus ) }
        	]
      	}) }}

		  <h2 class="govuk-heading-m">5. Future work</h2>
      	{{ govukTaskList({
        	idPrefix: "first-section",
        	items: [
          		{ title: { text: "5.1 Future work" }, href: "/apply/future-work/", status: ( completedStatus if data['futureWorComplete'] == "yes" else notstartedStatus ) }
        	]
      	}) }}

		  <h2 class="govuk-heading-m">6. Declarations</h2>
      	{{ govukTaskList({
        	idPrefix: "first-section",
        	items: [
          		{ title: { text: "6.1 Declarations" }, href: "/apply/declarations/", status: ( completedStatus if data['section6_1'] == "yes" else notstartedStatus ) }
        	]
      	}) }}