{% extends "layouts/deliver.html" %}

{% set showBackLink = true %}
{% set showBackApplicationsLink = false %}


{% set pageSize = "l" %}
{% set pageHeading = "Is this an international (non-UK) grant?" %}
{% set pageSection = "Set up the grant" %}

{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}


<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">

        {{ macroPageHeader.pageHeader(pageNested,pageHeading,pageSection,pageHiddentext,pageSize) }}

        <p class="govuk-body">The grant is provided to foundations, organisations or institutions outside of the United Kingdom.</p>

      	{% if data['change'] == "yes" %}
        	<form method="post" action="/funding/grant/add/summary">
				<input type="hidden" name="change" id="change" value="" />
      	{% else %}
          	<form method="post" action="/funding/grant/add/summary">
        {% endif %}

        		{{ govukRadios({
          			classes: "govuk-radios--inline",
          			name: "grant-nonUK",
          			id: "grant-nonUK",
          			fieldset: {
            			legend: {
            				text: pageHeading,
            				isPageHeading: false,
            				classes: "govuk-fieldset__legend govuk-visually-hidden"
            			}
          			},
          			items: [
            			{ value: "Yes", text: "Yes", checked: checked("grant-nonUK", "Yes") },
            			{ value: "No", text: "No", checked: checked("grant-nonUK", "No") }
          			]
        		}) }}


				{{ govukButton({
                	text: "Save and continue"
            	}) }}

			</form>

    </div>
</div>

{% endblock %}
<!-- *bc* -->