<div class="govuk-inset-text">
<p>This service is also available <a href="https://frontend.test.access-funding.test.levellingup.gov.uk/funding-round/cof/r4w1">in Welsh (Cymraeg)</a>.</p>
</div>

<p>You must have received an invitation to apply. If we did not invite you, first <a href="https://www.gov.uk/guidance/community-ownership-fund-round-4-how-to-express-your-interest-in-applying">express your interest in the fund</a>.</p>
<p><a href="https://www.gov.uk/government/publications/high-street-rental-auctions-grants-for-local-authorities/high-street-rental-auctions-fund-prospectus" class="govuk-link">Read the fund's prospectus</a> before you apply.</p>
<p><strong>Submission deadline:</strong> 01 February 2025 at 11:59am</p>

{{ govukButton({
    text: "Enter your email address",
    href: "/apply/email-address",
    isStartButton: true
}) }}


<h2 class="govuk-heading-m">Get help</h2>
<p>If you have questions about the form or the fund, <a href="https://frontend.test.access-funding.test.levellingup.gov.uk/contact_us?fund=cof&round=R4W1" class="govuk-link">contact us.</a></p>
<p>Do not send any applications or attachments through the support desk. We'll only accept applications through this service.</p>
