<p><a href="https://www.gov.uk/government/publications/high-street-rental-auctions-grants-for-local-authorities/high-street-rental-auctions-fund-prospectus" class="govuk-link">Read the fund's prospectus</a> before you apply.</p>
<p><strong>Submission deadline:</strong> 01 February 2025 at 11:59am</p>

{{ govukButton({
    text: "Enter your email address",
    href: "/apply/email-address",
    isStartButton: true
}) }}


<h2 class="govuk-heading-m">Get help</h2>
<p>If you need help, contact us through our <a href="https://mhclgdigital.atlassian.net/servicedesk/customer/portal/5/group/68" class="govuk-link">support desk</a></p>
<p>Do not send any applications or attachments through the support desk. We'll only accept applications through this service.</p>
