{% extends "layouts/grantRecipient.html" %}

{% set showBackLink = true %}

{% set pageSize = "l" %}
{% set pageHeading = "Why are you declining sign off?" %}
{% set pageSection = "data.fundName" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">



<div class="govuk-form-group govuk-character-count" data-module="govuk-character-count" data-maxlength="200">
  <h1 class="govuk-label-wrapper">
    <label class="govuk-label govuk-label--l" for="with-hint">
     Why are you declining sign off?
    </label>
  </h1>
  <div id="with-hint-hint" class="govuk-hint">
    Tell ((submittor)) why are you declining sign off so they can update and resubmit the report.
  </div>
  <textarea class="govuk-textarea govuk-js-character-count" id="with-hint" name="withHint" rows="5" aria-describedby="with-hint-info with-hint-hint"></textarea>
  <div id="with-hint-info" class="govuk-hint govuk-character-count__message">
    You can enter up to 200 characters
  </div>
</div>

		<form method="post" action="/funding/recipient/reports/?reportSectionProgress=complete" >




        	<input type="hidden" name="answers-checked" value="true">

        	<button type="submit" class="govuk-button" data-module="govuk-button">
Decline sign off
</button>

		</form>

  	</div>
</div>

{% endblock %}

