{% extends "layouts/grantRecipient.html" %}

{% set showBackLink = false %}
{% set showNav = true %}
{% set showBread = true %}


{% set pageSize = "l" %}
{% set pageHeading = "Certify report" %}
{% set pageSection = "data.organisationName" %}



{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}



<div class="govuk-width-container">
  <div class="govuk-main-wrapper">
    <div class="govuk-grid-row">

      <div class="govuk-grid-column-full">
        
        <div class="app-pane__body">
          
          <!-- Side Navigation -->
          <div class="app-pane__subnav">
            <nav class="app-subnav" aria-label="Section navigation">
              <ul class="app-subnav__list">
                <li class="app-subnav__list-item app-subnav__list-item--current" style="width: 80%">
                  <a class="app-subnav__link" href="#section-1">Review report :  1 January 2025 to 31 March 2025</a>
                </li>
                <li class="app-subnav__list-item" style="width: 80%">
                  <a class="app-subnav__link" href="#section-2">Programme progress</a>
                </li>
                <li class="app-subnav__list-item" style="width: 80%">
                  <a class="app-subnav__link" href="#section-3">Outputs and outcomes</a>
                </li>
                <li class="app-subnav__list-item" style="width: 80%">
                  <a class="app-subnav__link" href="#section-4">Expenditure</a>
                </li>
                <li class="app-subnav__list-item" style="width: 80%">
                  <a class="app-subnav__link" href="#section-5">Risks</a>
                </li>
                <li class="app-subnav__list-item" style="width: 80%">
                  <a class="app-subnav__link" href="#section-6">Sign off and submit
report</a>
                </li>
      
              </ul>
            </nav>
          </div>

          <!-- Main Content -->
          <div class="app-pane__content">
            
            <h1 class="govuk-heading-xl" id="section-1">Review report: 1 January 2025 to 31 March 2025 </h1>

           <p class="govuk-body"><span class="govuk-body govuk-!-font-weight-bold">Submission deadline:</span> 10 April 2025</p>
           <p class="govuk-body"><span class="govuk-body govuk-!-font-weight-bold">Submitted by:</span> Clarice Stollen</p>
           <p class="govuk-body"><span class="govuk-body govuk-!-font-weight-bold">Date submitted for sign off: </span> 5 April 2025</p>
           <p class="govuk-body"><span class="govuk-body govuk-!-font-weight-bold">Status:</span> <strong class="govuk-tag govuk-tag--purple">Awaiting sign off</strong></p>
<br>
           <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
  Download report PDF
</button>
            <br><br>

            
            <table class="govuk-table" id="section-2">
  <caption class="govuk-table__caption govuk-table__caption--m">Programme progress</caption>
  <thead class="govuk-table__head">

  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Tell us about your programme’s progress</th>
      <td class="govuk-table__cell">We have made steady progress last quarter with surveys and safety improvements but there have been challenges with resourcing and delivery partners. </td>
    </tr>
    <!-- <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Likeliness of completion</th>
      <td class="govuk-table__cell">Very high</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Estimated date of completion</th>
      <td class="govuk-table__cell">July 2026</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Likeliness of completion</th>
      <td class="govuk-table__cell">Very high</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Estimated date of completion</th>
      <td class="govuk-table__cell">March 2026</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Likeliness of completion</th>
      <td class="govuk-table__cell">High</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Estimated date of completion</th>
      <td class="govuk-table__cell">July 2026</td>
    </tr> -->
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Likeliness of completion</th>
      <td class="govuk-table__cell">Low</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Reason for low likeliness of completion</th>
      <td class="govuk-table__cell">Delivery partners have been dealing with shortages in the area</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Estimated date of completion</th>
      <td class="govuk-table__cell">Cannot be provided</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Reason estimated date of completion cannot be provided</th>
      <td class="govuk-table__cell">Delivery partner shortages are unlikely to be resolved and there are legal challenges around resolving this that we have no control over.</td>
    </tr>

  </tbody>
</table>
            <br><br>

          <table class="govuk-table" id="section-3">
  <caption class="govuk-table__caption govuk-table__caption--m">Outputs and outcomes</caption>
  <thead class="govuk-table__head">

  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">How many homes had safety improvement work started in the last reporting period?</th>
      <td class="govuk-table__cell">217</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">What types of safety issues have been fixed in improvement work this reporting period?</th>
      <td class="govuk-table__cell">
        <ul>
          <li>Damp and mould growth</li>
          <li>Excess cold</li>
          <li>Carbon monoxide</li>
      </ul>
    </td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">How many residents had safety improvement work completed on their home in the last reporting period?</th>
      <td class="govuk-table__cell">370</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">What percentage of social home residents submitted complaints with safety improvement work completed?</th>
      <td class="govuk-table__cell">6%</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">WWhat were the main reasons for resident complaints?</th>
      <td class="govuk-table__cell">Inaccurate estimated times given for completing safety improvement work.</td>
    </tr>
 
  </tbody>
</table>
  <br><br>


           <table class="govuk-table" id="section-4">
  <caption class="govuk-table__caption govuk-table__caption--m">Expenditure</caption>
  <thead class="govuk-table__head">

  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Total spend this quarter</th>
      <td class="govuk-table__cell">£1,500,472 </td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Overspend</th>
      <td class="govuk-table__cell">£200,472</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Reason why spend was more than forecast quarterly spend of £1,300,000</th>
      <td class="govuk-table__cell">Contractor costs increased since last quarter</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Projected spend next quarter</th>
      <td class="govuk-table__cell">£1,200,000</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Additional commentary (optional)</th>
      <td class="govuk-table__cell">Not provided</td>
    </tr>

  </tbody>
</table>

<br><br>
            
         <!-- <br><br>
          
            <table class="govuk-table" id="section-5">
  <caption class="govuk-table__caption govuk-table__caption--m">Risks</caption>
  <thead class="govuk-table__head">

  </thead>

  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      
      <th scope="row" class="govuk-table__header">Risk 1</th>
      <td class="govuk-table__cell">Understaffing</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Risk description</th>
      <td class="govuk-table__cell">Delivery team has had shortages in staffing due to extended leave and attrition.</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Risk category</th>
      <td class="govuk-table__cell">People</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Risk status</th>
      <td class="govuk-table__cell">New</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Risk to life?</th>
      <td class="govuk-table__cell">No risk to life</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Current impact score</th>
      <td class="govuk-table__cell">Very low</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Current likelihood score</th>
      <td class="govuk-table__cell">Medium</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Current mitigations</th>
      <td class="govuk-table__cell">We are looking into temporary staff</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Planned mitigations</th>
      <td class="govuk-table__cell">As above</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Target impact score</th>
      <td class="govuk-table__cell">Very low</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Target likelihood score</th>
      <td class="govuk-table__cell">Low</td>
    </tr>

  </tbody>
</table> -->

<h2 class="govuk-heading-m" id="section-5">Risks</h2>

<div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title">
      Understaffing
    </h2>
  </div>
  <div class="govuk-summary-card__content">
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Risk description
        </dt>
        <dd class="govuk-summary-list__value">
          Delivery team has had shortages in staffing due to extended leave and attrition.
        </dd>
        <!-- <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> risk description (Understaffing)</span></a>
        </dd> -->
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Risk category
        </dt>
        <dd class="govuk-summary-list__value">
          People
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Risk status
        </dt>
        <dd class="govuk-summary-list__value">
          New/Identified
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Risk to life?
        </dt>
        <dd class="govuk-summary-list__value">
          No risk to life
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Current impact score
        </dt>
        <dd class="govuk-summary-list__value">
          Very low
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Current likelihood score
        </dt>
        <dd class="govuk-summary-list__value">
          Medium
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Current mitigations
        </dt>
        <dd class="govuk-summary-list__value">
          We are keeping track of staffing issues and looking into temporary cover.
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Planned mitigations
        </dt>
        <dd class="govuk-summary-list__value">
          We are prepared to recruit permanent staff if needed.
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Target impact score
        </dt>
        <dd class="govuk-summary-list__value">
          Very low
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Target likelihood score
        </dt>
        <dd class="govuk-summary-list__value">
          Very low
        </dd>
      </div>
    </dl>
  </div>
</div>

<div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title">
      Delivery partners
    </h2>
  </div>
  <div class="govuk-summary-card__content">
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Risk description
        </dt>
        <dd class="govuk-summary-list__value">
          Delivery partners can be difficult to get clear timelines and answers from.
        </dd>
        <!-- <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> risk description (Understaffing)</span></a>
        </dd> -->
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Risk category
        </dt>
        <dd class="govuk-summary-list__value">
          Project delivery
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Risk status
        </dt>
        <dd class="govuk-summary-list__value">
          New/Identified
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Risk to life?
        </dt>
        <dd class="govuk-summary-list__value">
          No risk to life
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Current impact score
        </dt>
        <dd class="govuk-summary-list__value">
          Low
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Current likelihood score
        </dt>
        <dd class="govuk-summary-list__value">
          Low
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Current mitigations
        </dt>
        <dd class="govuk-summary-list__value">
          We are arranging monthly meetings with the delivery partners to improve communication.
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Planned mitigations
        </dt>
        <dd class="govuk-summary-list__value">
          We are exploring other delivery partners in case.
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Target impact score
        </dt>
        <dd class="govuk-summary-list__value">
          Very low
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Target likelihood score
        </dt>
        <dd class="govuk-summary-list__value">
          Very low
        </dd>
      </div>
    </dl>
  </div>
</div>
<br><br>

              <h2 class="govuk-heading-m" id="section-6">Sign off and submit report</h2>
           
             <p class="govuk-body">Sign off and submit the report to the Ministry of Housing, Communities and Local Government by 10 April 2025.</p>
   
             <p class="govuk-body">If you need to decline the report, provide a reason so Clarice Stollen can update and resubmit the report.</p>
         
   <br>
    
            <div class="govuk-button-group">
  <form action="sign_off_confirmation" method="post">
    <button type="submit" class="govuk-button" data-module="govuk-button">
      Sign off and submit report
    </button>
  </form>
  
  <form action="decline" method="post">
    <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
      Decline sign off
    </button>
  </form>
</div>
            
          </div>
          
        </div>
        
      </div>
    </div>
  </div>
</div>


<!-- Optional: JavaScript for active state on scroll -->
<script>
  var isClickScrolling = false;
  var scrollTimeout;
  
  // Update active navigation item based on scroll position
  function updateActiveNav() {
    // Don't update during click-initiated scrolling
    if (isClickScrolling) return;
    
    var sections = document.querySelectorAll('h1[id], h2[id], table[id]');
    var navItems = document.querySelectorAll('.app-subnav__list-item');
    
    var scrollPosition = window.scrollY + 100;
    
    sections.forEach(function(section, index) {
      var sectionTop = section.offsetTop;
      var sectionBottom = sectionTop + section.offsetHeight;
      
      if (scrollPosition >= sectionTop && scrollPosition < sectionBottom) {
        navItems.forEach(function(item) {
          item.classList.remove('app-subnav__list-item--current');
        });
        if (navItems[index]) {
          navItems[index].classList.add('app-subnav__list-item--current');
        }
      }
    });
  }
  
  // Listen for scroll events
  window.addEventListener('scroll', function() {
    // Clear any existing timeout
    clearTimeout(scrollTimeout);
    
    // Set a timeout to re-enable auto-updates after scrolling stops
    scrollTimeout = setTimeout(function() {
      isClickScrolling = false;
    }, 100);
    
    updateActiveNav();
  });
  
  // Handle clicks on navigation links
  document.querySelectorAll('.app-subnav__link').forEach(function(link) {
    link.addEventListener('click', function(e) {
      e.preventDefault();
      
      var targetId = this.getAttribute('href').substring(1);
      var targetSection = document.getElementById(targetId);
      
      if (targetSection) {
        // Set flag to prevent scroll handler from interfering
        isClickScrolling = true;
        
        // Remove active state from all items
        document.querySelectorAll('.app-subnav__list-item').forEach(function(item) {
          item.classList.remove('app-subnav__list-item--current');
        });
        
        // Add active state to clicked item
        this.parentElement.classList.add('app-subnav__list-item--current');
        
        // Remove focus from the link to prevent yellow highlight
        this.blur();
        
        // Scroll to the section
        targetSection.scrollIntoView({ behavior: 'smooth', block: 'start' });
        
        // Re-enable auto-updates after scroll completes (estimated 1 second for smooth scroll)
        setTimeout(function() {
          isClickScrolling = false;
        }, 1000);
      }
    });
  });
</script>
{% endblock %}