{% extends "layouts/main.html" %}

{% block content %}



<div class="govuk-grid-row">
  
  <div class="govuk-grid-column-one-third app-sticky-nav-column">
    
    <div class="app-sticky-nav-container">

      <nav aria-label="Review report sections">
        <ul class="app-report-nav__list">
          <li class="app-report-nav__item">
            <a class="govuk-link" href="#">
              Review report: 1 January 2025 to 31 March 2025
            </a>
          </li>
          <li class="app-report-nav__item app-report-nav__item--active">
            <a class="govuk-link" href="#programme-progress">
              Programme progress
            </a>
          </li>
          <li class="app-report-nav__item">
            <a class="govuk-link" href="#">
              Programme postcodes
            </a>
          </li>
          <li class="app-report-nav__item">
            <a class="govuk-link" href="#">
              Expenditure
            </a>
          </li>
          <li class="app-report-nav__item">
            <a class="govuk-link" href="#">
              Risks
            </a>
          </li>
          <li class="app-report-nav__item">
            <a class="govuk-link" href="#">
              Sign off and submit report
            </a>
          </li>
        </ul>
      </nav>

 

    </div> </div>

  <div class="govuk-grid-column-two-thirds app-main-content-column">
    
    <h1 class="govuk-heading-l">
      Review report: 1 January 2025 to 31 March 2025
    </h1>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Submission deadline
        </dt>
        <dd class="govuk-summary-list__value">
          10 April 2025
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Submitted by
        </dt>
        <dd class="govuk-summary-list__value">
          Andy Star
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Date submitted for sign off
        </dt>
        <dd class="govuk-summary-list__value">
          5 April 2025
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Status
        </dt>
        <dd class="govuk-summary-list__value">
          <strong class="govuk-tag govuk-tag--grey">
            Awaiting sign off
          </strong>
        </dd>
      </div>
    </dl>

   <table class="govuk-table">
  <caption class="govuk-table__caption govuk-table__caption--m">Programme progress</caption>
  <thead class="govuk-table__head">

  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Tell us about your programme’s progress</th>
      <td class="govuk-table__cell">We have made good progress last quarter with more surveys and safety improvements than all previous quarters. </td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Likeliness of completion</th>
      <td class="govuk-table__cell">Very high</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Estimated date of completion</th>
      <td class="govuk-table__cell">July 2026</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Likeliness of completion</th>
      <td class="govuk-table__cell">Very high</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Estimated date of completion</th>
      <td class="govuk-table__cell">March 2026</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Likeliness of completion</th>
      <td class="govuk-table__cell">High</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Estimated date of completion</th>
      <td class="govuk-table__cell">July 2026</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Estimated date of completion</th>
      <td class="govuk-table__cell">Low</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Reason for low likeliness of completion</th>
      <td class="govuk-table__cell">Delivery partners have been dealing with shortages in the area</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Estimated date of completion</th>
      <td class="govuk-table__cell">Cannot be provided</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Estimated date of completion</th>
      <td class="govuk-table__cell">Delivery partner shortages are unlikely to be resolved and there are legal challenges around resolving this that we have no control over.</td>
    </tr>

  </tbody>
</table>

  </div>
</div>

{% endblock %}