{% extends "layouts/grantRecipient.html" %}

{% set showBackLink = false %}

{% set pageSize = "xl" %}
{% set pageHeading = "Glasgow City Council" %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    
    <h1 class="govuk-heading-xl">Glasgow City Council</h1>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9" style="border-top: 1px solid #b1b4b6;">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-third">
          Grant
        </dt>
        <dd class="govuk-summary-list__value">
          Benches allocated in parks
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Award status
        </dt>
        <dd class="govuk-summary-list__value">
          <strong class="govuk-tag govuk-tag--light-blue">Allocated</strong>
        </dd>
      </div>
    </dl>

    <h2 class="govuk-heading-l">Collections</h2>
    
    <p class="govuk-body">
      The information required to receive your award funding is organised into collections.
      Collections are shared with MHCLG for validation and will be saved here for your records.
    </p>

  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <table class="govuk-table govuk-!-margin-top-6">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Document</th>
          <th scope="col" class="govuk-table__header">Due date</th>
          <th scope="col" class="govuk-table__header">Status</th>
          <th scope="col" class="govuk-table__header"><span class="govuk-visually-hidden">Action</span></th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Top up 2026 - Expression of interest</td>
          <td class="govuk-table__cell">1 April 2026</td>
          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey">Not started</strong></td>
          <td class="govuk-table__cell"><a href="#" class="govuk-link">Start expression of interest</a></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Allocation form</td>
          <td class="govuk-table__cell">30 April 2026</td>
          <td class="govuk-table__cell">Submitted</td>
          <td class="govuk-table__cell"><a href="allocation_report" class="govuk-link">View allocation</a></td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
{% endblock %}