{% extends "layouts/access.html" %}

{% set showBackLink = true %}

{% set pageSize = "xl" %}
{% set pageHeading = "Check your answers before sending your application" %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">

    <h1 class="govuk-heading-xl">Check your answers</h1>

 <div class="govuk-inset-text">
      <strong class="govuk-tag govuk-tag--yellow">Changes requested</strong> <br><br>
      <p class="govuk-body govuk-!-margin-bottom-0">"Provide more detail about what activities you plan to deliver using the funding and specifically how they align with the programme objectives. Also, agreeing to participation in monitoring and evaluation is essential because we need to know how you're spending the funding and the impact it's having."</p>
    </div> 


    <h2 class="govuk-heading-m">Confirm participation</h2>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Can you confirm that you’re willing to accept and sign a Memorandum of Understanding by 31 May 2026?
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['mou'] or 'Not provided' }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> funding participation</span>
          </a>
        </dd>
      </div>
            <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
         Do you agree to participate in monitoring and evaluation conducted by MHCLG, as described in section 'Roles and responsibilities' of the prospectus?
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['monitoringChanged'] or 'Not provided' }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> funding participation</span>
          </a>
        </dd>
      </div>
            <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
         Do you commit to provide safer social housing by 30 April 2029?
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['commit'] or 'Not provided' }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> funding participation</span>
          </a>
        </dd>
      </div>
    </dl>

      <div class="govuk-form-group govuk-!-margin-bottom-6">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h2 class="govuk-fieldset__heading">
              Have you completed this section?
            </h2>
          </legend>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="completed-yes" name="taskCompleted" type="radio" value="yes">
              <label class="govuk-label govuk-radios__label" for="completed-yes">
                Yes, I’ve completed this section
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="completed-no" name="taskCompleted" type="radio" value="no">
              <label class="govuk-label govuk-radios__label" for="completed-no">
                No, I’ll come back to it later
              </label>
            </div>
          </div>
        </fieldset>
      </div>
<br>

    <form action="allocation_form3" method="post" novalidate>
      <button type="submit" class="govuk-button" data-module="govuk-button">
        Save and continue
      </button>
    </form>

  </div>
</div>
{% endblock %}