{% extends "layouts/email.html" %}
{% set serviceName = "" %}

{% set title = 'Email: Changes submitted' %}

{% block pageTitle %}
  {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <div class="email-message">
      <table class="govuk-table email-message-meta">
          <tbody>
        <tr>
                  <th class="govuk-table__cell" scope="row">From</th>
                  <td class="govuk-table__cell">The Funding Service</td>
                </tr>
              <tr>
                  <th class="govuk-table__cell" scope="row">To</th>
                  <td class="govuk-table__cell"><span class='placeholder-no-brackets'>email address</span></td>
              </tr>
              <tr class="email-message-meta">
                <th class="govuk-table__cell" scope="row">Subject line</th>
          <td class="govuk-table__cell">Changes submitted to your ((report_name)) for ((grant_name))</td>
              </tr>
          </tbody>
        </table>
        <div class="email-message-body">

      <p>Hello,</p>

      <p>Changes made to your ((report_name)) for ((grant_name)) have been submitted to ((government_department)).</p>

            <p>
                Organisation: ((organisation_name))<br>
                Submitted by: ((submitter_name))<br>
                Form updated on: ((date_submitted))
            </p>

            <p><a href="dashboard_allocated">View your submitted form</a></p>

      <h2 class="govuk-heading-m govuk-!-margin-top-6 govuk-!-margin-bottom-4">Get help</h2>
            
      <p>If you need help or have any questions, <a href="https://mhclgdigital.atlassian.net/servicedesk/customer/portal/5/group/1344">contact our support desk</a>.</p>

            <p>Monday to Friday 9am to 5pm (except public holidays).</p>

            <p>The Funding Service team</p>

            <p><a href="https://forms.office.com/pages/responsepage.aspx?id=EGg0v32c3kOociSi7zmVqlpdDApnKW5Ep4Er6o1SfUlUM0JHREJESIISME1JMDIOSIpVTTJRWUhYQi4u&route=shorturl">Tell us what you think of this service</a> (takes 30 seconds)</p>

        </div>
    </div>

  </div>
</div>

{% endblock %}