{% extends "layouts/grantRecipient.html" %}

{% set showBackLink = true %}

{% set pageSize = "xl" %}
{% set pageHeading = "Check your answers before sending your application" %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">

    <h1 class="govuk-heading-xl">Check your answers before sending your application</h1>

    <div class="govuk-inset-text">
      <h2 class="govuk-heading-s">Requested changes</h2>
      <p class="govuk-body govuk-!-margin-bottom-0">Please change the project name</p>
    </div>  

    <h2 class="govuk-heading-m">Project information</h2>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          What is the name of the project?
        </dt>
        <dd class="govuk-summary-list__value">
          Name of the project
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="project_info">
            Change<span class="govuk-visually-hidden"> name of the project</span>
          </a>
        </dd>
      </div>
    </dl>

      <div class="govuk-form-group govuk-!-margin-bottom-6">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h2 class="govuk-fieldset__heading">
              Have you completed this section?
            </h2>
          </legend>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="completed-yes" name="taskCompleted" type="radio" value="yes">
              <label class="govuk-label govuk-radios__label" for="completed-yes">
                Yes, I’ve completed this section
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="completed-no" name="taskCompleted" type="radio" value="no">
              <label class="govuk-label govuk-radios__label" for="completed-no">
                No, I’ll come back to it later
              </label>
            </div>
          </div>
        </fieldset>
      </div>
<br>

    <form action="" method="post" novalidate>
      <button type="submit" class="govuk-button" data-module="govuk-button">
        Save and continue
      </button>
    </form>

  </div>
</div>
{% endblock %}