{% if data['version'] == "suggested" %}
    {% extends "layouts/assess-newNew.html" %}
{% else %}
    {% extends "layouts/mainAssess.html" %}
{% endif %}

{% set showBackLink = false %}
{% set showBackApplicationsLink = false %}

{% set pageSize = "xl" %}
{% set pageHeading = "Fund:" %}
{% set pageSection = "" %}


{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

	{% if data['version'] == "suggested" %}


    {% else %}

<div class="govuk-width-container">
	{{ govukBackLink({
		text: "Back to assessment landing",
		href: "javascript:history.go(-1)"
	}) }}

	<div class="govuk-!-display-inline-block float-right govuk-!-margin-top-3 nag">
		<a href="/assess/help">Get help</a>  <a href="#">Log out</a>
	</div>
</div>

<div class="x-govuk-masthead">
	<div class="govuk-width-container">


      	<div class="govuk-grid-row">
        	<div class="govuk-grid-column-two-thirds-from-desktop">
          		<h1 class="x-govuk-masthead__title">{{ pageHeading }} <span class="govuk-!-font-weight-regular">{{ data.fundName or "Digital Planning Improvement" }} Fund</span></h1>
          		<p class="x-govuk-masthead__description govuk-!-font-size-36"><span class="govuk-!-font-weight-bold">Project reference:</span> ZWNEHL</p>
          		<p class="x-govuk-masthead__description"><span class="govuk-!-font-weight-bold">Project name:</span> Sneaker Politics
				<br>

                {% if data[''] == "" %}
                <strong class="govuk-tag govuk-tag-white overSizeWhite">NOT STARTED</strong>
                {% else %}
                <span class="govuk-!-font-weight-bold">Total funding requested:</span> £0.00</p>
                {% endif %}
        	</div>
      	</div>
    </div>
</div>

<div class="govuk-width-container">
	<main class="govuk-main-wrapper" id="main-content" role="main">

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-quarter">

                <h3 class="govuk-heading-m">Assessment actions</h3>

                <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible section_break_blue">
                <p class="govuk-body"><a href="/assess/fund/application/all" target="_blank">View entire application (opens in new tab)</a></p>

                <div class="govuk-!-margin-top-7 govuk-!-margin-bottom-5" id="comments">
                    <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Comments</h2>
                    <div id="more-detail-hint" class="govuk-hint">
                        <p class="govuk-body govuk-!-margin-top-2">Summarise any thoughts you have on the assessment.</p>
                    </div>
                    <div class="govuk-body govuk-!-margin-top-6">
                        No comments have been left yet.
                    </div>

                    {{ govukButton({
                        text: "Add a comment"
                      }) }}

                    </div>



            </div>
            <div class="govuk-grid-column-three-quarters">

                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-full govuk-!-margin-top-1">
                        <span class="govuk-body govuk-!-margin-top-2 govuk-!-margin-right-4 inline-block">There are no tags on this assessment</span>
                        <span class="govuk-body-s govuk-!-margin-top-2"><a class="govuk-link" data-qa="add-change-tags" href="/assess/application/c621bd18-a9f4-4669-80c0-0f42b885d9f2/tags">Add tags</a></span>
                    </div>
                    <div class="govuk-grid-column-full govuk-!-margin-top-4">
                        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!-margin-top-0">
                    </div>
                </div>


                <div class="govuk-grid-row">
                    <!--Flag history is diabled for EOI fund types -->
                    <div class="govuk-grid-column-one-half">
                        <details class="govuk-details">
                            <summary class="govuk-details__summary"><span class="govuk-details__summary-text">Flag history</span></summary>
                            <div class="govuk-!-padding-top-4">
                                <div class="govuk-warning-text">
                                    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                                    <strong class="govuk-warning-text__text"><span class="govuk-warning-text__assistive"></span>No flags raised yet, so no history to display.</strong>
                                </div>
                            </div>
                        </details>
                    </div>

                    <div class="govuk-grid-column-one-half">

                        <div class="govuk-button-group fright">

                            <a class="govuk-body govuk-link--no-visited-state" href="/assess/activity_trail/c621bd18-a9f4-4669-80c0-0f42b885d9f2">View activity trail</a>

                            {{ govukButton({
                                text: "Flag application",
                                classes: "govuk-!-margin-left-5"
                            }) }}

                        </div>


                    </div>

                </div>

                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-two-thirds">


                        {% include "/assess/includes/tlist-assess.html" %}
                    </div>
                </div>

            </div>

        </div>






    <!-- Switcher between current and suggested changes -->
    {% include "/assess/includes/version-switch.html" %}

    </div>
</div>



{% endif %}
{% endblock %}