{% extends "layouts/access.html" %}

{% set showBackLink = false %}

{% set pageSize = "xl" %}
{% set pageHeading = "How much funding does your organisation need?" %}
{% set pageSection = "Funding activities" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <a href="#" class="govuk-back-link govuk-!-margin-bottom-7">Back</a>

<span class="govuk-caption-xl">Funding activities</span>
    <h1 class="govuk-heading-l">
      {{ pageHeading }}
    </h1>

    <form action="project_info2" method="post" novalidate>
      

      <div class="govuk-form-group">
   
        <div class="govuk-input__wrapper">
          <div class="govuk-input__prefix" aria-hidden="true">£</div>
          <input class="govuk-input govuk-input--width-5" id="funding-amount" name="fundingAmount" type="text" spellcheck="false" aria-describedby="funding-amount-hint">
        </div>
      </div>


      


      <button type="submit" class="govuk-button govuk-!-margin-top-4" data-module="govuk-button">
        Continue
      </button>
    </form>

  </div>
</div>
{% endblock %}