{% extends "/layouts/deliver.html" %}

{% set showBackLink = false %}
{% set showGuidance = false %}

{% set showBackApplicationsLink = false %}
{% set showBackApplicationsOverview = false %}


{% block pageTitle %}Session Data - Prototype{% endblock %}
{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        <h1 class="govuk-heading-xl">Templates</h1>
        <p>How we use patterns across the services for consistency.</p>
        <p>Content to follow.</p>

        

    </div>
</div>

{% endblock %}
