{% extends "layouts/email.html" %}
{% set serviceName = "" %}


<!-- {% set title = 'You declined a report from ' + data.organisationName + '' %} -->

{% set title = 'You declined sign off for a Safer social housing fund report' %}

{% block pageTitle %}
  {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">


    <div class="email-message">
    	<table class="govuk-table email-message-meta">
        	<tbody>
				<tr>
                	<th class="govuk-table__cell" scope="row">From</th>
                	<td class="govuk-table__cell">The Funding Service</td>
              	</tr>                    
            	<tr>
              		<th class="govuk-table__cell" scope="row">To</th>
              		<!-- <td class="govuk-table__cell"><span class='placeholder-no-brackets'>{{ data.section151Email}}</span></td> -->
					 <td class="govuk-table__cell"><span class='placeholder-no-brackets'>certifier@alocalcouncil.gov.uk</span></td>
            	</tr>          
          		<tr class="email-message-meta">
            		<th class="govuk-table__cell" scope="row">Subject</th>
            		<td class="govuk-table__cell">{{ title }}</td>
          		</tr>
        	</tbody>
      	</table>
      	<div class="email-message-body">
          <!-- <p>You have declined a report for {{ data.fundName }}, sent by {{ data.reporterName}} from {{data.organisationName }}.</p> -->
		   
		  <p>You declined sign off for the 1 October 2025 to 31 December 2025 report for Safer social housing fund.</p>

    
          <!-- <p>Reporting period: <strong>{{ data.reportPeriod }}</strong></p> -->
          
		  <p>Submitted by: Clarice Stollen
		  <br>Certifier: Tilde Platt
		  <br>Date declined: 8 January 2026 at 13:05pm</p>

          <div class="govuk-body">
        <p>Reason for declining:</span><br>
        {{ data.reportReasonDeclined or 'The planned mitigations for the Staffing risk is the same as the current mitigations but we discussed additional planned mitigations which need to be added to the planned mitigation answer.'  }}</p>
        </div>
      
        <!-- <p>{{ data.reporterName}} has been sent an email which includes the reason you gave for declining the report. They will be able to make any corrections and resend for review.</p> -->
        
		<p><a href="a">View the declined report</a></p>

        <h2 class="govuk-heading-m">What happens next</h2>	

		<p>Clarice Stollen will receive an email with your reason for declining so they can update and resubmit the report.</p>

		<p>You must sign off and submit the report by 14 January 2026.</p>
		
		<h2 class="govuk-heading-m">Get help</h2>	


        <p>If you need help, <a href="https://mhclgdigital.atlassian.net/servicedesk/customer/portal/5/group/1344">contact us through our support desk</a>.</p>

		<p>Monday to Friday, 9am to 5pm (except public holidays).</p>

		<p>The Funding Service team</p>
    
        <!-- <p>If you have any questions or need help, email us at <a href="mailto:fsd.support@communities.gov.uk">fsd.support@communities.gov.uk</a>.</p> -->
    
    
      	</div>
    </div> 



    
    
    

    <!-- <p class="govuk-body-s govuk-!-margin-top-9"><a href="/emails/reporter/report-declined">Go to email sent to reporter</a></p> -->
  
    <!-- <p class="govuk-body-s govuk-!-margin-top-9"><a href="/emails/sign-off/review-needed">Section 151 email</a></p> -->


<br>
<p class="govuk-body-s govuk-footer__link govuk-!-margin-top-9"><a href="/funding/recipient/draft_report">Continue to next journey</a></p>


  </div>
</div>

{% endblock %}
