{% extends "layouts/email.html" %}
{% set serviceName = "" %}


{% set title = 'Safer social housing fund report for is ready for your review' %}

{% block pageTitle %}
  {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">


    <div class="email-message">
    	<table class="govuk-table email-message-meta">
        	<tbody>
				<tr>
                	<th class="govuk-table__cell" scope="row">From</th>
                	<td class="govuk-table__cell">The Funding Service</td>
              	</tr>
            	<tr>
              		<th class="govuk-table__cell" scope="row">To</th>
              		<td class="govuk-table__cell"><span class='placeholder-no-brackets'>certifier@alocalcouncil.gov.uk</span></td>
            	</tr>
          		<tr class="email-message-meta">
            		<th class="govuk-table__cell" scope="row">Subject</th>
            		<td class="govuk-table__cell">{{ title }}</td>
          		</tr>
        	</tbody>
      	</table>
      	<div class="email-message-body">


          <p>Clarice Stollen has completed a report for you to review.</p>

          <div class="govuk-body">
            <p>Grant: Safer social housing fund
			<br>Report: 1 October 2025 to 31 December 2025
			<br>Deadline: 14 January 2026</p>
            </div>

			<!-- <p>You need to submit the report by {{ data.fundDate }}.</p> -->

			<!-- <p>You need to submit the report by 14 January 2026.</p> -->

			<p><a href="/funding/recipient/sign-off/?userType=Section151">Sign in to review the report</a></p>

          <h2 class="govuk-heading-m">What happens next</h2>

          <p>Once you have signed off the report it will be submitted to the Ministry of Housing, Communities and Local Government. You will receive email confirmation.</p>
			
		<p>If you need to decline sign off, you will need to provide a reason so Clarice Stollen can update and resubmit the report.</p>

		<!-- <p class="govuk-body">{{ data.reporterName }} will not be able to edit the report while it’s waiting for your review.</p> -->
          <!-- <p>If there are any issues with the report, you can decline it so {{ data.reporterName }} can correct it and resend. When you decline a report, you’ll be able to explain why and {{ data.reporterName }} will be able to make amendments before resending for review.</p> -->

          <h2 class="govuk-heading-m">Get help</h2>

          <p>If you need help, <a href="https://mhclgdigital.atlassian.net/servicedesk/customer/portal/5/group/1344">contact us through our support desk</a>.</p>

		  <p>Monday to Friday, 9am to 5pm (except public holidays).</p>

		  <p>The Funding Service team</p>


      	</div>
    </div>








  </div>
</div>

{% endblock %}
