{% extends "layouts/main.html" %}

{% set showBackLink = false %}
{% set showBackApplicationsLink = false %}

{% if data['version'] == "suggested" %}
	{% set pageSize = "xl" %}
{% set pageHeading = "Check your answers" %}
	{% set pageSection = "Your skills and experience" %}
{% else %}
	{% set pageSize = "xl" %}
{% set pageHeading = "Check your answers" %}
	{% set pageSection = "" %}
{% endif %}

{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-full">

        {{ macroPageHeader.pageHeader(pageNested,pageHeading,pageSection,pageHiddentext,pageSize) }}


		{% if data['version'] == "suggested" %}

		<dl class="govuk-summary-list govuk-!-margin-bottom-9">
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Delivered projects like this before?</dt>
			  	<dd class="govuk-summary-list__value">{{ data['3_1_deliveredProjects'] | capitalize }}</dd>
			  	<dd class="govuk-summary-list__actions">
					<a class="govuk-link" href="/apply/skills-and-experience/delivered-projects?linkStatus=change">Change<span class="govuk-visually-hidden"> if your organisation has delivered projects like this before</span></a>
			  	</dd>
			</div>
			{% if data['3_1_deliveredProjects'] == "yes" %}
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">How your worked on previous projects</dt>
			  	<dd class="govuk-summary-list__value">{{ data['3_1_previousProjects'] }}</dd>
			  	<dd class="govuk-summary-list__actions">
					<a class="govuk-link" href="/apply/skills-and-experience/tell-us-how?linkStatus=change">Change<span class="govuk-visually-hidden"> how you worked on previous projects</span></a>
			  	</dd>
			</div>
			{% endif %}
		</dl>

		<form action="/apply/task-list" method="post" >

			<!-- Remove the change link status -->
			{% include "/apply/includes/linkStatus.html" %}

			<!-- Session information to inform although section is finished is it completed -->

			{{ govukRadios({
				name: "section3_1",
				fieldset: {
					legend: {
						text: "Have you completed this section?",
						isPageHeading: false,
						classes: "govuk-fieldset__legend--m"
					}
				},
				items: [
					{ value: "yes", text: "Yes, I’ve completed this section", checked: checked("section3_1", "yes")  },
					{ value: "no", text: "No, I’ll come back to it later", checked: checked("section3_1", "no") }
				]
			}) }}

			{{ govukButton({
			text: "Save and continue"
			}) }}

		</form>

		{% else %}

		<h2 class="govuk-heading-m">Your skills and experience</h2>
		<dl class="govuk-summary-list">
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Has your organisation delivered projects like this before?</dt>
			  	<dd class="govuk-summary-list__value">{{ data['3_1_deliveredProjects'] | capitalize }}</dd>
			  	<dd class="govuk-summary-list__actions">
					<a class="govuk-link" href="/apply/skills-and-experience/delivered-projects?linkStatus=change">Change<span class="govuk-visually-hidden"> Has your organisation delivered projects like this before?</span></a>
			  	</dd>
			</div>
			{% if data['3_1_deliveredProjects'] == "yes" %}
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Tell us about how your organisation has worked on similar previous projects</dt>
			  	<dd class="govuk-summary-list__value">{{ data['3_1_previousProjects'] }}</dd>
			  	<dd class="govuk-summary-list__actions">
					<a class="govuk-link" href="/apply/skills-and-experience/tell-us-how?linkStatus=change">Change<span class="govuk-visually-hidden"> Tell us about how your organisation has worked on similar previous projects</span></a>
			  	</dd>
			</div>
			{% endif %}
		</dl>

		<form action="/apply/task-list" method="post" >

			<!-- Remove the change link status -->
			{% include "/apply/includes/linkStatus.html" %}

			<!-- Session information to inform although section is finished is it completed -->

			{{ govukRadios({
				classes: "govuk-radios--inline",
				name: "section3_1",
				fieldset: {
					legend: {
						text: "Do you want to mark this section as complete?",
						isPageHeading: false,
						classes: "govuk-fieldset__legend--l"
					}
				},
				items: [
					{ value: "yes", text: "Yes", checked: checked("section3_1", "yes")  },
					{ value: "no", text: "No", checked: checked("section3_1", "no") }
				]
			}) }}

			{{ govukButton({
			text: "Save and continue"
			}) }}

		</form>
		{% endif %}

		{% if data['version'] == "suggested" %}
		{{ macroCurrent.pageCurrent(url) }}
	  {% else %}
		{{ macroSuggested.pageSuggested(url) }}
	  {% endif %}



    </div>
  </div>
{% endblock %}
