{% extends "layouts/access.html" %}

{% set showBackLink = false %}

{% set pageSize = "xl" %}
{% set pageHeading = "Collection submitted" %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">
        Form submitted to certifier
      </h1>
      <div class="govuk-panel__body">
        Form<br>
        <strong>Validation form for Safer social housing fund</strong><br><br>
        Your reference number<br>
        <strong>BAIP-LT9D6YX</strong>
      </div>
    </div>

    <p class="govuk-body">
      We have sent a confirmation email to you and anyone else who has access to this form.
    </p>



    <h2 class="govuk-heading-m">What happens next</h2>

 <p class="govuk-body">
      Jane Doe will need to review and sign off the form by 30 April 2026.
    </p>


    <p class="govuk-body">
   You will receive an email when your form is signed off and submitted.
    </p>

        <p class="govuk-body">
If a certifier needs to decline sign off, you will receive an email with their reason for declining.
    </p>

        <p class="govuk-body">
 You cannot make changes while awaiting sign off, or once the form has been signed off and submitted. If you need to make a change before the form is signed off, the certifier should decline sign off.
    </p>

    <p class="govuk-body govuk-!-margin-bottom-6">
      <a href="#" class="govuk-link" target="_blank" rel="noreferrer noopener">Tell us what you think of this service (opens in new tab)</a>
    </p>

    <p class="govuk-body">
      <a href="dashboard_allocated" class="govuk-link">Return to forms</a>
    </p>
<br><br>
      <p class="govuk-body-xs">
      <a href="email_confirm" class="govuk-link">(view confirmation email)</a>
    </p>

  </div>
</div>
{% endblock %}