.govuk-width-container {
    max-width: 1600px;
}
    @media (min-width: 1020px) {
        .govuk-width-container {
            margin-right: max(30px, calc(15px + env(safe-area-inset-right)));
            margin-left: max(30px, calc(15px + env(safe-area-inset-right)));
        }
    }
    @media (min-width: 1600px) {
        .govuk-width-container {
            margin-right: auto;
            margin-left: auto;
        }
    }

/* .govuk-main-wrapper {
    padding-top: 0;
    padding-bottom: 0;
} */

.search-button {
    margin-bottom: 0;
    margin-left: 8px;
    vertical-align: baseline;
}

.search-input {
    /* width: 16em; */
}

.govuk-service-navigation {
    border-bottom: none;
    background-color: #fff;
}

.govuk-service-navigation__item, .govuk-service-navigation__service-name {
    margin: 4px 0;
    border: none;
    font-size: 16px;
}



.nag a {
    margin-left: 14px;
}

.govuk-service-navigation__container {

    float: right;
}

.float-right {
    float: right;
}

.lead-dashboard-stat {
    min-width: 100px;
    max-width: 100px;
    padding: 20px;
    background-color: #ffffff;
    margin-bottom: 30px;
}


.lead-dashboard-stat p:first-of-type {
    font-size: 3em;
    line-height: 1.31579;
}

.lead-dashboard-stat p {
    font-weight: 600;
    font-size: 0.7em;
    color: #1d70b8;
    margin-top: 0;
    margin-bottom: 3px;
}

.fright {
    float: right;
}

.section_break_blue {
    border-bottom: 4px solid #1d70b8;
    margin: 20px 0;
}

.theme-blue {
    border-top: 4px solid #1d70b8;
    padding-top: 20px;
}

.theme-grey {
    border-top: 4px solid #b1b4b6;
    padding-top: 20px
}

.govuk-tag--white {
    background-color: white;
}


.template-answer {
    border: 3px #b1b4b6 solid;
    /* padding: 25px 25px 4px; */
    /* background-color: #fff; */
}

.overSize {
    max-width: 500px;
    background-color: #1d70b8;
    color: #fff;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

.overSizeGrey {
    max-width: 500px;
    background-color: #fff;
    color: #000;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

.overSizeWhite {
    max-width: 500px;
    background-color: #fff;
    color: #000;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}



.govuk-summary-card__title-wrapper.summaryBackground {
    text-size-adjust: 100%;
    border-bottom: 1px solid transparent;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: 15px 20px;
    background-color: #505a5f;
}

.govuk-summary-card__title {
    color: #ffffff;
}


.govuk-summary-card {
    border: 4px solid #505a5f;

}


a:link.summaryLinkOveride, .govuk-link:link.summaryLinkOveride {
    color: #ffffff !important;
}

.theme {
    border-top: 4px solid #b1b4b6;
}

.app-notification-banner--destructive {
    border-color:  #d4351c;
    background-color: #d4351c;
}



// .govuk-width-container {
//     max-width: 1600px;
// }
