{% extends "layouts/grantRecipient.html" %}

{% set showBackLink = true %}

{% set pageSize = "l" %}
{% set pageHeading = "Check your answers before sending your data" %}
{% set pageSection = "data.fundName" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-l">Check your answers before sending your data</h1>
    
    <table class="govuk-table govuk-!-margin-bottom-9">
      <caption class="govuk-table__caption govuk-table__caption--m">Spend on houses, flats and buildings</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Month</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric">Houses <br><a class="govuk-link" style="font-weight:normal" href="#">
              Change<span class="govuk-visually-hidden"> January data</span>
            </a></th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric">
            % 2025<br>
            <strong class="govuk-tag govuk-tag--grey govuk-!-margin-top-1" style="text-transform: none; letter-spacing: normal;"><span class="govuk-visually-hidden">Auto-calculated: </span>Auto</strong>
          </th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric">Flats <br> <a class="govuk-link" style="font-weight:normal" href="#">
              Change<span class="govuk-visually-hidden"> January data</span>
            </a></th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric">
            % 2025<br>
            <strong class="govuk-tag govuk-tag--grey govuk-!-margin-top-1" style="text-transform: none; letter-spacing: normal;"><span class="govuk-visually-hidden">Auto-calculated: </span>Auto</strong>
          </th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric">Buildings<br> <a class="govuk-link" style="font-weight:normal" href="#">
              Change<span class="govuk-visually-hidden"> January data</span>
            </a></th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric">
            % 2025<br>
            <strong class="govuk-tag govuk-tag--grey govuk-!-margin-top-1" style="text-transform: none; letter-spacing: normal;"><span class="govuk-visually-hidden">Auto-calculated: </span>Auto</strong>
          </th>
    
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        
        <!-- January -->
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">January</th>
          <td class="govuk-table__cell govuk-table__cell--numeric">£31m</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">
            <!-- Hidden text added for screen readers -->
            <strong class="govuk-tag govuk-tag--grey"><span class="govuk-visually-hidden">Auto-calculated: </span>2%</strong>
          </td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£31m</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">
            <strong class="govuk-tag govuk-tag--grey"><span class="govuk-visually-hidden">Auto-calculated: </span>1%</strong>
          </td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£31m</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">
            <strong class="govuk-tag govuk-tag--grey"><span class="govuk-visually-hidden">Auto-calculated: </span>9%</strong>
          </td>
  

        </tr>

        <!-- February -->
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">February</th>
          <td class="govuk-table__cell govuk-table__cell--numeric">£42m</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">
            <strong class="govuk-tag govuk-tag--grey"><span class="govuk-visually-hidden">Auto-calculated: </span>4%</strong>
          </td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£43m</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">
            <strong class="govuk-tag govuk-tag--grey"><span class="govuk-visually-hidden">Auto-calculated: </span>5%</strong>
          </td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£44m</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">
            <strong class="govuk-tag govuk-tag--grey"><span class="govuk-visually-hidden">Auto-calculated: </span>5%</strong>
          </td>
   
        </tr>

        <!-- March -->
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">March</th>
          <td class="govuk-table__cell govuk-table__cell--numeric">£23m</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">
            <strong class="govuk-tag govuk-tag--grey"><span class="govuk-visually-hidden">Auto-calculated: </span>5%</strong>
          </td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£24m</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">
            <strong class="govuk-tag govuk-tag--grey"><span class="govuk-visually-hidden">Auto-calculated: </span>3%</strong>
          </td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£25m</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">
            <strong class="govuk-tag govuk-tag--grey"><span class="govuk-visually-hidden">Auto-calculated: </span>4%</strong>
          </td>
    
        </tr>

        <!-- April -->
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">April</th>
          <td class="govuk-table__cell govuk-table__cell--numeric">£51m</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">
            <strong class="govuk-tag govuk-tag--grey"><span class="govuk-visually-hidden">Auto-calculated: </span>10%</strong>
          </td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£52m</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">
            <strong class="govuk-tag govuk-tag--grey"><span class="govuk-visually-hidden">Auto-calculated: </span>1%</strong>
          </td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£53m</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">
            <strong class="govuk-tag govuk-tag--grey"><span class="govuk-visually-hidden">Auto-calculated: </span>5%</strong>
          </td>

        </tr>

        <!-- May -->
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">May</th>
          <td class="govuk-table__cell govuk-table__cell--numeric">£43m</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">
            <strong class="govuk-tag govuk-tag--grey"><span class="govuk-visually-hidden">Auto-calculated: </span>1%</strong>
          </td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£44m</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">
            <strong class="govuk-tag govuk-tag--grey"><span class="govuk-visually-hidden">Auto-calculated: </span>21%</strong>
          </td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£45m</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">
            <strong class="govuk-tag govuk-tag--grey"><span class="govuk-visually-hidden">Auto-calculated: </span>8%</strong>
          </td>

        </tr>

      </tbody>
    </table>
      


      {{ govukRadios({
  name: "haveYouCompletedThisSection",
  fieldset: {
    legend: {
      text: "Have you completed this task?",
      isPageHeading: false,
      classes: "govuk-fieldset__legend--s"
    }
  },
  items: [
    {
      value: "yes",
      text: "Yes, I’ve completed this task"
    },
    {
      value: "no",
      text: "No, I’ll come back to it later"
    }
  ]
}) }}
      
    <form action="confirmation" method="post" novalidate class="govuk-!-margin-top-6">
      <input type="hidden" name="answers-checked" value="true">
      <button type="submit" class="govuk-button" data-module="govuk-button">
        Save and continue
      </button>
    </form>
    
  </div>
</div>

{% endblock %}