{% extends "layouts/grantNoSignin.html" %}

{% set showBackLink = true %}

{% set pageSize = "xl" %}
{% set pageHeading = "You are eligible to apply" %}
{% set pageSection = "Eligibility" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l">{{ pageSection }}</span>
    <h1 class="govuk-heading-l">{{ pageHeading }}</h1>

    <p class="govuk-body">
      Based on your answers, you’re eligible to apply for the Safer social housing fund.
    </p>

   <h2 class="govuk-heading-m">Create an account</h2>

    <p class="govuk-body">
   We did not find an account with the email address you provided.  
    </p>

    <p class="govuk-body">
Before you can apply, you must create an account by adding your organisation details. 
    </p>

    <form action="sign-up_details" method="post" novalidate>
      <button type="submit" class="govuk-button govuk-!-margin-top-4" data-module="govuk-button">
      Create an account
      </button>
    </form>

  </div>
</div>
{% endblock %}