{% extends "layouts/grantNoSignin.html" %}

{% set showBackLink = true %}

{% set pageHeading = "What is your organisation type?" %}
{% set pageSection = "Eligibility" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form id="eligibilityForm" novalidate>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <span class="govuk-caption-l">{{ pageSection }}</span>
            <h1 class="govuk-fieldset__heading">
              {{ pageHeading }}
            </h1>
          </legend>

          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="org-type-1" name="orgType" type="radio" value="charity">
              <label class="govuk-label govuk-radios__label" for="org-type-1">
                 Local authority
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="org-type-2" name="orgType" type="radio" value="limited-company">
              <label class="govuk-label govuk-radios__label" for="org-type-2">
               Registered charity
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="org-type-3" name="orgType" type="radio" value="local-authority">
              <label class="govuk-label govuk-radios__label" for="org-type-3">
                Voluntary and Community Sector Organisation (VCSE)
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="org-type-4" name="orgType" type="radio" value="local-planning-authority">
              <label class="govuk-label govuk-radios__label" for="org-type-4">
               Business operating within the housing sector
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="org-type-5" name="orgType" type="radio" value="other">
              <label class="govuk-label govuk-radios__label" for="org-type-5">
                Other
              </label>
            </div>
          </div>
          
        </fieldset>
      </div>

      <button type="submit" class="govuk-button govuk-!-margin-top-6" data-module="govuk-button">
        Continue
      </button>

    </form>

  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const form = document.getElementById('eligibilityForm');
    
    form.addEventListener('submit', function(event) {
      event.preventDefault();
      
      const orgType = document.querySelector('input[name="orgType"]:checked');
      
      if (orgType) {
        if (orgType.value === 'other') {
          // Route to not eligible if 'Other' is selected
          window.location.href = 'not-eligible';
        } else {
          // Route to the next step of the eligibility check
          window.location.href = 'eligibility2'; 
        }
      }
    });
  });
</script>
{% endblock %}