{% extends "layouts/grantNoSignin.html" %}

{% set showBackLink = true %}

{% set pageHeading = "What is your organisation type?" %}
{% set pageSection = "Eligibility" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form id="eligibilityForm" novalidate>
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <span class="govuk-caption-l">{{ pageSection }}</span>
            <h1 class="govuk-fieldset__heading">
              What is your organisation type?
            </h1>
          </legend>

          <div class="govuk-radios" data-module="govuk-radios">
            
            <!-- Option 1 -->
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="org-type-1" name="orgType" type="radio" value="Charitable incorporated organisation" data-aria-controls="conditional-org-type-1">
              <label class="govuk-label govuk-radios__label" for="org-type-1">
                Charitable incorporated organisation
              </label>
            </div>
            

            <!-- Option 2 -->
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="org-type-2" name="orgType" type="radio" value="Community benefit society or co-operative" data-aria-controls="conditional-org-type-2">
              <label class="govuk-label govuk-radios__label" for="org-type-2">
                Community benefit society or co-operative
              </label>
            </div>
         

            <!-- Option 3 -->
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="org-type-3" name="orgType" type="radio" value="Community interest company" data-aria-controls="conditional-org-type-3">
              <label class="govuk-label govuk-radios__label" for="org-type-3">
                Community interest company
              </label>
            </div>
         

            <!-- Option 4 -->
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="org-type-4" name="orgType" type="radio" value="Company limited by guarantee" data-aria-controls="conditional-org-type-4">
              <label class="govuk-label govuk-radios__label" for="org-type-4">
                Company limited by guarantee
              </label>
            </div>
        
            <!-- Option 5 -->
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="org-type-5" name="orgType" type="radio" value="Local authority">
              <label class="govuk-label govuk-radios__label" for="org-type-5">
                Local authority
              </label>
            </div>

            <!-- Option 6 -->
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="org-type-6" name="orgType" type="radio" value="Registered charity" data-aria-controls="conditional-org-type-6">
              <label class="govuk-label govuk-radios__label" for="org-type-6">
                Registered charity
              </label>
            </div>
          
            <!-- Option 7 -->
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="org-type-7" name="orgType" type="radio" value="Scottish charitable incorporated organisation" data-aria-controls="conditional-org-type-7">
              <label class="govuk-label govuk-radios__label" for="org-type-7">
                Scottish charitable incorporated organisation
              </label>
            </div>
         

            <!-- Option 8 -->
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="org-type-8" name="orgType" type="radio" value="Unincorporated community group, organisation or association">
              <label class="govuk-label govuk-radios__label" for="org-type-8">
                Unincorporated community group, organisation or association
              </label>
            </div>


          </div>

        </fieldset>
      </div>


      <button type="submit" class="govuk-button govuk-!-margin-top-6" data-module="govuk-button">
        Continue
      </button>

    </form>

  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const form = document.getElementById('eligibilityForm');
    
    form.addEventListener('submit', function(event) {
      event.preventDefault();
      
      const orgType = document.querySelector('input[name="orgType"]:checked');
      
      if (orgType) {
        // Check if the selected value matches any of the non-eligible options
        if (
          orgType.value === 'Community interest company' || 
          orgType.value === 'Company limited by guarantee' || 
          orgType.value === 'Local authority' || 
          orgType.value === 'Unincorporated community group, organisation or association'
        ) {
          // Route to not eligible
          window.location.href = 'not-eligible';
        } else {
          // Route to the next step of the eligibility check
          window.location.href = 'eligibility2'; 
        }
      }
    });
  });
</script>
{% endblock %}