{% extends "layouts/grantNoSignin.html" %}

{% set showBackLink = true %}

{% set pageSize = "xl" %}
{% set pageHeading = "Your organisation is already applying" %}
{% set pageSection = "Safer social housing fund" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l">{{ pageSection }}</span>
    <h1 class="govuk-heading-l">{{ pageHeading }}</h1>

    <p class="govuk-body">
    Based on your email, we think you're trying to apply on behalf of <strong>Housing Charity Together</strong>.
    </p>

 
    <p class="govuk-body">
   An application form has already been started by someone in this organisation. 
    </p>

      <p class="govuk-body">
 You must sign in to access the existing form.
    </p>


<!--     <form action="dashboard" method="post" novalidate>
      <button type="submit" class="govuk-button" data-module="govuk-button">
       Continue
      </button>
    </form>
    <br> -->

<h2 class="govuk-heading-m">Signing in to your account</h2>

    <p class="govuk-body">
      You must <a href="#" class="govuk-link">contact the support team</a> if:
    </p>
<ul class="govuk-list govuk-list--bullet">
  <li>you need to create a new account</li>
  <li>your organisation is incorrect</li>
</ul>

  </div>
</div>
{% endblock %}