{% extends "layouts/grantNoSignin.html" %}

{% set showBackLink = true %}

{% set pageSize = "xl" %}
{% set pageHeading = "You are eligible to apply" %}
{% set pageSection = "Safer Social Housing Fund" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <span class="govuk-caption-l">{{ pageSection }}</span>
    <h1 class="govuk-heading-l">{{ pageHeading }}</h1>

    <p class="govuk-body">
     Based on your answers, you're eligible to apply for the Safer Social Housing Fund.
    </p>

            <form id="org-form" action="#" method="post" novalidate>

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h1 class="govuk-fieldset__heading">
        Which organisation are you applying on behalf of?
      </h1>
    </legend>
    <div class="govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="orgLewes" name="orgName" type="radio" value="Lewes District Council">
        <label class="govuk-label govuk-radios__label" for="orgLewes">
          Lewes District Council
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="orgEastbourne" name="orgName" type="radio" value="Eastbourne Borough Council">
        <label class="govuk-label govuk-radios__label" for="orgEastbourne">
          Eastbourne Borough Council
        </label>
      </div>
      <div class="govuk-radios__divider">or</div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="orgOther" name="orgName" type="radio" value="Another organisation">
        <label class="govuk-label govuk-radios__label" for="orgOther">
          Apply on behalf of another organisation
        </label>
      </div>
    </div>
  </fieldset>
</div>
    <form action="dashboard" method="post" novalidate>
      <button type="submit" class="govuk-button" data-module="govuk-button">
       Continue
      </button>
    </form>
    <br>

    <h2 class="govuk-heading-m">Get help </h2>

    <p class="govuk-body">
      If you need help or have any questions, contact our <a href="https://mhclgdigital.atlassian.net/servicedesk/customer/portal/5/user/login?destination=portal%2F5%2Fgroup%2F1344%3FgroupId%3D1344" target="_blank" class="govuk-link">support desk (opens in new tab)</a>. 
    </p>
    <p class="govuk-body">
      Monday to Friday 9am to 5pm (except public holidays).</p>

  </div>
</div>
<!-- Script to handle conditional routing based on radio selection -->
<script>
  document.getElementById('org-form').addEventListener('submit', function(event) {
    event.preventDefault(); // Stop standard form submission
    
    const selectedRadio = document.querySelector('input[name="orgName"]:checked');
    
    if (selectedRadio) {
      if (selectedRadio.value === 'Lewes District Council') {
        window.location.href = 'name';
      } else if (selectedRadio.value === 'Eastbourne Borough Council') {
        window.location.href = 'eligible_existing_applying';
      } else if (selectedRadio.value === 'Another organisation') {
        window.location.href = '/competitive/sign-up/new-user/org_type';
      }
    }
  });
</script>
{% endblock %}