{% extends "layouts/grantNoSignin.html" %}

{% set showBackLink = true %}

{% set pageSize = "xl" %}
{% set pageHeading = "Your organisation is already registered" %}
{% set pageSection = "Safer social housing fund" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l">{{ pageSection }}</span>
    <h1 class="govuk-heading-xl">{{ pageHeading }}</h1>
  
    <p class="govuk-body">
      The email address you provided is already associated with an organisation registered in the Access Grant Funding service.
    </p>

    <div class="govuk-inset-text">
      Registered organisation: <strong>Glasgow City Council</strong>
    </div>

    <p class="govuk-body">
      You do not need to register a new account. Sign in using your existing details to start your application.
    </p>

    <form action="dashboard" method="post" novalidate>
      <button type="submit" class="govuk-button" data-module="govuk-button">
        Sign in
      </button>
    </form>
<br>
    <h2 class="govuk-heading-m">If this organisation is incorrect</h2>

    <p class="govuk-body">
      If you are not part of the organisation listed above, you must <a href="#" class="govuk-link">contact the support team</a> to resolve the issue before continuing.
    </p>

  </div>
</div>
{% endblock %}