{% extends "layouts/grantNoSignin.html" %}
{% set serviceName = "" %}

{% set title = 'Email: Confirm your email address' %}

{% block pageTitle %}
  {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">


    <div class="email-message">
    	<table class="govuk-table email-message-meta">
        	<tbody>
				<tr>
                	<th class="govuk-table__cell" scope="row">From</th>
                	<td class="govuk-table__cell">The Funding Service team</td>
              	</tr>
            	<tr>
              		<th class="govuk-table__cell" scope="row">To</th>
              		<td class="govuk-table__cell"><span class='placeholder-no-brackets'>{{ data['email-check'] or "user@alocalcouncil.gov.uk"  }}</span></td>
            	</tr>
          		<tr class="email-message-meta">
            		<th class="govuk-table__cell" scope="row">Subject</th>

						<td class="govuk-table__cell">Verify your email address</td>


          		</tr>
        	</tbody>
      	</table>
      	<div class="email-message-body">


			<p>You entered this email to start applying for the Safer social housing fund.</p>
	

			<p><a href="grant_holding">Verify your email address</a>  to continue with your application.</p>

			<div class="govuk-inset-text">
				<p>This link will work once and expires in 15 minutes.</p>
			</div>

			<h2 class="govuk-heading-s govuk-!-margin-bottom-1">If the link has expired</h2>
			<p>If the link has expired, you will need to <a href="sign-up">enter your email address again</a> to get a new one.</p>


          <p>Kind regards,</p>
          <p>The Funding Service team</p>

      	</div>
    </div>



	<p class="govuk-body-xs govuk-footer__link govuk-!-margin-top-5"><a href="eligible_existing_applying">Org already exists and applying</a></p>

	





  </div>
</div>

{% endblock %}