{% extends "layouts/grantNoSignin.html" %}

{% set showBackLink = false %}

{% set pageSize = "xl" %}
{% set pageHeading = "Check if you’re eligible to apply" %}
{% set pageSection = "Eligibility" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
     <span class="govuk-caption-l">{{ pageSection }}</span>
    <h1 class="govuk-heading-xl">
      {{ pageHeading }}
    </h1>

    <p class="govuk-body">
      To be able to apply for the Safer social housing fund, you must meet the eligibility criteria.
    </p>

    <p class="govuk-body">
      Use this service to check if your organisation is eligible to apply. If you’re eligible, you’ll be able to access the application form by either:
    </p>

    <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-8">
      <li>signing in with an existing account if your organisation is already registered</li>
      <li>creating a new account by registering your organisation</li>
    </ul>
 <form action="email" method="post" novalidate>
  <button type="submit" class="govuk-button" data-module="govuk-button">
  Start now
</button>
</form>

  </div>
</div>
{% endblock %}