{% extends "layouts/grantNoSignin.html" %}

{% set showBackLink = true %}

{% set pageSize = "xl" %}
{% set pageHeading = "You are not eligible to apply" %}
{% set pageSection = "Eligibility" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l">{{ pageSection }}</span>
    <h1 class="govuk-heading-xl">{{ pageHeading }}</h1>

    <p class="govuk-body">
      You're not eligible to apply for the Safer Social Housing Fund.
      </p>
    
      <p class="govuk-body">
      This is because you answered <span class="govuk-body govuk-!-font-weight-bold"> 'No' </span> for 'Are the properties you manage located in England?'.
    </p>

    <p class="govuk-body">
      You can review the eligibility criteria in the <a href="#" class="govuk-link">grant's prospectus (opens in new tab)</a>.
    </p>

         <p class="govuk-body govuk-!-margin-top-9">

<a href="grant_holding" class="govuk-link govuk-!-margin-top-8">Back to Apply for the Safer Social Housing Fund</a>
         </p>
  </div>
</div>
{% endblock %}