{% extends "layouts/access.html" %}

{% set showBackLink = true %}

{% set pageSize = "allocation_form" %}
{% set pageHeading = "All questions" %}
{% set pageSection = "Application form" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-xl">{{ pageSection }}</span>
    <h1 class="govuk-heading-xl">{{ pageHeading }}</h1>
      <form action="" method="post" novalidate>
        <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
          Download as PDF
        </button> 
      </form>
<br>
    <h2 class="govuk-heading-m">Organisation details</h2>
    <p class="govuk-body">In this section, you will be asked:</p>
    <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-8">
      <li>What is your organisation's address?</li>
      <li>Who is the main contact?
        <ul class="govuk-list govuk-list--bullet">
          <li>Full name</li>
          <li>Role</li>
          <li>Email address</li>
        </ul>
      </li>
    </ul>

    <h2 class="govuk-heading-m">Skills and experience</h2>
    <p class="govuk-body">In this section, you will be asked:</p>
    <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-8">
      <li>What skills and capabilities does your organisation have to be able to deliver effectively? (200 words)</li>
      <li>Are you applying with another organisation?</li>
      <li>if yes, who is the decision maker?</li>
    </ul>

    <h2 class="govuk-heading-m">Plans for the funding</h2>
    <p class="govuk-body">In this section, you will be asked:</p>
    <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-8">
      <li>How much funding do you need?</li>
      <li>What date do you expect to spend all the funding by?</li>
      <li>Project details
             <div id="more-detail-hint" class="govuk-hint">
   Use this section to tell us about all the projects you would deliver using this funding. Add the details of each project one at a time.
  </div>
        <ul class="govuk-list govuk-list--bullet">
          <li>Describe the project</li>
          <li>Tell us how this project aligns with the fund objectives</li>
          <li>When will you deliver this project?</li>
        </ul>
      </li>
    </ul>

    <h2 class="govuk-heading-m">Risk and governance</h2>
    <p class="govuk-body">In this section, you will be asked:</p>
    <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-8">
      <li>Risk details
        <div id="more-detail-hint" class="govuk-hint">
   Use this section to tell us about all the risks identified. Add the details of each risk one at a time.
  </div>
        <ul class="govuk-list govuk-list--bullet">
          <li>What is the name of the risk?</li>
          <li>Tell us about the risk</li>
          <li>What mitigation measures will be in place for this risk?</li>
        </ul>
      </li>
      <li>What decision making structures are in place?</li>
    </ul>

    <h2 class="govuk-heading-m">Costs and value for money</h2>
    <p class="govuk-body">In this section, you will be asked:</p>
    <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-9">
      <li>Cost details
        <ul class="govuk-list govuk-list--bullet">
          <li>Name of the cost</li>
          <li>Cost amount</li>
          <li>How has this cost amount been estimated?</li>
        </ul>
      </li>
      <li>What measures are you planning to use to evaluate the effectiveness of your projects?</li>
    </ul>

      <form action="allocation_form" method="post" novalidate>
        <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
          Back to form
        </button> 
      </form>

  </div>
</div>
{% endblock %}