{% extends "layouts/grantNoSignin.html" %}

{% set showBackLink = false %}
{% set showGuidance = false %}
{% set showBackApplicationsLink = false %}
{% set showBackApplicationsOverview = false %}

{% set pageSize = "xl" %}
{% set pageHeading = "The Funding Service" %}
{% set pageSection = "Prototype" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-5">

		{{ macroPageHeader.pageHeader(pageNested,pageHeading,pageSection,pageHiddentext,pageSize) }}

		<p class="govuk-body-s">Last updated on {{ "today" | govukDate }}
    	<br>GOV.UK Prototype Kit: {{releaseVersion}}</p>

		<p class="govuk-body">The Funding Service is a team at the Ministry of Housing, Communities and Local Government (MHCLG) that aims to improve how funding is given to local authorities, charities, and community groups. TESTING </p>
	</div>

	<div class="govuk-grid-column-full">

		{% set serviceDeliverFundingHtml %}
			<!-- Deliver service -->
			<h2 class="govuk-heading-m">Deliver grant funding </h2>
			<p>A service for grant teams that helps them deliver and manage grant funding. This could include: </p>
			<ul class="govuk-list govuk-list--bullet">
				<li>setting up the grant and adding information, such as grant name and type </li>
				<li>designing and publishing prospectuses </li>
				<li>creating forms to collect information pre-award (business case, application) </li>
				<li>creating forms to collect information post-award (monitoring funding progress) </li>
				<li>assessing grant applications </li>
				<li>viewing monitoring data  </li>
				<li>payment integration with SAP </li>
			</ul>

			<form method="post" action="/sign-in/" >
				<input type="hidden" name="fundingService" id="fundingService" value="deliver" />
				<input type="hidden" name="authentication" id="authentication" value="SSO" />
				{{ govukButton({
					text: "Continue",
					classes: "govuk-!-margin-top-3"
				}) }}
			</form>
		{% endset %}


		{% set serviceAccessFundingHtml %}
			<!-- Assess service -->
			<h2 class="govuk-heading-m">Access grant funding  </h2>
			<p>A service for current and potential grant recipients to access grant funding. This could include: </p>
			<ul class="govuk-list govuk-list--bullet">
				<li>adding information pre-award, such as an application form, benchmarking data or a business case </li>
				<li>reporting on the progress of their funded programmes and projects </li>
			</ul>

			<form method="post" action="/sign-in/" >
				<input type="hidden" name="fundingService" id="fundingService" value="access" />
				<input type="hidden" name="authentication" id="authentication" value="Magic link" />
				{{ govukButton({
					text: "Continue",
					classes: "govuk-!-margin-top-3"
				}) }}
			</form>
		{% endset %}

		{% set serviceApplyHtml %}
			<!-- Current apply for a grant service -->
			<h2 class="govuk-heading-m">Apply for funding</h2>
			<p class="govuk-body">Apply for funding has been designed to allow local authorities, charities, and community groups to apply for different types of funding from Ministry of Housing, Communities and Local Government (MHCLG).</p>
			<p class="govuk-body">You will be able to select which funding as part of the user flow.</p>
			<form method="post" action="/preload" >
				<input type="hidden" name="fundingService" id="fundingService" value="apply" />
				{{ govukButton({
					text: "Continue",
					classes: "govuk-!-margin-top-3"
				}) }}
			</form>
		{% endset %}

		{% set serviceAssessHtml %}
			<!-- Current assess applications service -->
			<h2 class="govuk-heading-m">Assess applications for funding</h2>
			<p class="govuk-body">The Funding Service assessment tool has been designed to help evaluate fund applications, to facilitate fund decision-making.</p>
			<p class="govuk-body">Here you can:</p>
			<ul class="govuk-list govuk-list--bullet">
				<li>assess applications end to end</li>
				<li>comment on specific applicant responses</li>
				<li>monitor the assessment progress of a fund</li>
			</ul>

			<form method="post" action="/assess/" >
				<input type="hidden" name="fundingService" id="fundingService" value="assess" />
				{{ govukButton({
					text: "Continue",
					classes: "govuk-!-margin-top-3"
				}) }}
			</form>
		{% endset %}

		{{ govukTabs({
			items: [
				{ label: "Deliver grant funding", id: "service-deliver-funding", panel: { html: serviceDeliverFundingHtml } },
				{ label: "Access grant funding", id: "service-access-funding", panel: { html: serviceAccessFundingHtml } }

			]
		}) }}

		<div class="govuk-grid-row govuk-!-margin-top-9">
			<div class="govuk-grid-column-one-half">
				<h2 class="govuk-heading-m govuk-!-margin-bottom-1">User research</h2>
				<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
				<p class="govuk-body-s govuk-!-margin-bottom-1">{{ "today" | govukDate }}</p>
        		<p class="govuk-body">There is no research currently taking place.</p>

			</div>
			<div class="govuk-grid-column-one-half">
				<h2 class="govuk-heading-m govuk-!-margin-bottom-1">Assets</h2>
				<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
			</div>

	</div>
</div>

{% endblock %}
