{% extends "layouts/grantNoSignin.html" %}

{% set showBackLink = false %}
{% set showGuidance = false %}
{% set showBackApplicationsLink = false %}
{% set showBackApplicationsOverview = false %}

{% set pageSize = "xl" %}
{% set pageHeading = "The Funding Service" %}
{% set pageSection = "Prototype" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-5">

		{{ macroPageHeader.pageHeader(pageNested,pageHeading,pageSection,pageHiddentext,pageSize) }}


		<p class="govuk-body">The Funding Service is a team at the Ministry of Housing, Communities and Local Government
			(MHCLG) that aims to improve how funding is given to local authorities, charities, and community groups.</p>
	</div>

	<div class="govuk-grid-column-full">

		{% set serviceDeliverFundingHtml %}
		<!-- Deliver service -->
		<h2 class="govuk-heading-m">Deliver grant funding </h2>
		<p>A service for grant teams that helps them deliver and manage grant funding. Here you can access journeys that
			have been designed as part of the development of the service. </p>

	<div class="app-aligned-header-tag-high govuk-!-margin-top-7">
			<h3 class="govuk-heading-s"><a href="/subpage_copy_report" class="govuk-link">Copying a report or form (July 2026)
					</a></h3>
			<strong class="govuk-tag govuk-tag--yellow">In development </strong>
		</div>
		<p>A form designer can copy an existing report or form.</p>

		<div class="app-aligned-header-tag-high govuk-!-margin-top-7">
			<h3 class="govuk-heading-s"><a href="/subpage_data_referencing" class="govuk-link">Uploading and referencing data sets (March to May
					2026)</a></h3>
			<strong class="govuk-tag govuk-tag--yellow">In development </strong>
		</div>
		<p>A form designer can upload, replace and reference a data set.</p>

		<div class="app-aligned-header-tag-high govuk-!-margin-top-7">
			<h3 class="govuk-heading-s"><a href="subpage_allocative_review" class="govuk-link">Reviewing an application (allocative)</a></h3>
			<strong class="govuk-tag govuk-tag--yellow">In development </strong>
		</div>
		<p>Caseworker can review an application, approve, reject or request changes.</p>

		<div class="app-aligned-header-tag-high govuk-!-margin-top-7">
			<h3 class="govuk-heading-s"><a href="/subpage_reopening_submissions" class="govuk-link">Reopening submissions (April to May 2026)</a></h3>
			<strong class="govuk-tag govuk-tag--green">Released </strong>
		</div>
		<p>A grant policy team member can reopen a monitoring report that has already been submitted.</p>

		<div class="app-aligned-header-tag-high govuk-!-margin-top-7">

			<h3 class="govuk-heading-s"><a href="/subpage_baseline" class="govuk-link">Original baseline journey
					(November 2025)</a>
			</h3>
			<strong class="govuk-tag govuk-tag--green">Released </strong>

		</div>
		<p>The baseline journey designed and released in November 2025. </p>


		{% endset %}


		{% set serviceAccessFundingHtml %}
		<!-- Assess service -->
		<h2 class="govuk-heading-m">Access grant funding </h2>
		<p>A service for current and potential grant recipients to access grant funding. This could include: </p>
		<ul class="govuk-list govuk-list--bullet">
			<li>adding information pre-award, such as an application form, benchmarking data or a business case </li>
			<li>reporting on the progress of their funded programmes and projects </li>
		</ul>

		<div class="app-aligned-header-tag-high govuk-!-margin-top-5">
			<h3 class="govuk-heading-s"><a href="competitive/sign-up/grant" class="govuk-link">Sign-up (competitive)</a></h3>
			<strong class="govuk-tag govuk-tag--yellow">In development </strong>
		</div>
		

<div class="app-aligned-header-tag-high govuk-!-margin-top-5">
			<h3 class="govuk-heading-s"><a href="subpage_allocative_application" class="govuk-link">Work on an application (allocative)</a></h3>
			<strong class="govuk-tag govuk-tag--yellow">In development </strong>
		</div>
		

		<div class="app-aligned-header-tag-high govuk-!-margin-top-5">
			<h3 class="govuk-heading-s"><a href="/sign-in/" class="govuk-link">Legacy version</a></h3>
		<strong class="govuk-tag govuk-tag--green">Released </strong>
		</div>


		


		{% endset %}

		{% set changeRequestHtml %}
		<!-- Assess service -->
		<h2 class="govuk-heading-m">New change request MVP</h2>
	<!-- 	<p>A service for current and potential grant recipients to access grant funding. This could include: </p>
		<ul class="govuk-list govuk-list--bullet">
			<li>adding information pre-award, such as an application form, benchmarking data or a business case </li>
			<li>reporting on the progress of their funded programmes and projects </li>
		</ul> -->



<div class="app-aligned-header-tag-high govuk-!-margin-top-10">
			<h3 class="govuk-heading-s">Reopen/request changes (Deliver)</h3>
		</div>
				<div>	
<ul class="govuk-list govuk-list--bullet">
  <li><a href="allocative/request_only/submission-new2" class="govuk-link">Reopen/request changes</a></li>
</ul>
</div>
<br>
<div class="app-aligned-header-tag-high govuk-!-margin-top-10">
			<h3 class="govuk-heading-s">Action request/reopening (Access)</h3>
					</div>

					<div>
<ul class="govuk-list govuk-list--bullet">
  <li><a href="allocative/change_mvp/email" class="govuk-link">Changes requested - Sections</a></li>
  <li><a href="allocative/change_mvp/email2" class="govuk-link">Changes requested - Sections + Certification</a></li>
  <li><a href="allocative/change_mvp/email3" class="govuk-link">Changes requested - General</a></li>
  <li><a href="allocative/change_mvp/email_reopened" class="govuk-link">Reopened</a></li>
</ul>
</div>
<br>
<div class="app-aligned-header-tag-high govuk-!-margin-top-10">
			<h3 class="govuk-heading-s">Viewing changes (Deliver)</h3>
					</div>

					<div>
<ul class="govuk-list govuk-list--bullet">
  <li><a href="allocative/request_only/submission-new_changed" class="govuk-link">View changes</a></li>
   <li><a href="allocative/request_only/submission-new_changed_reopened" class="govuk-link">Resubmitted after reopened</a></li>
  <ul class="govuk-list govuk-list--bullet">

 
</ul>
</div>
<br>
<div class="app-aligned-header-tag-high govuk-!-margin-top-10">
			<h3 class="govuk-heading-s">Timeline view</h3>
					</div>

					<div>
<ul class="govuk-list govuk-list--bullet">
  <li><a href="allocative/request_only/timeline#timeline" class="govuk-link">All events</a></li>
 
</ul>
</div>

		</div>

		

	


		


		{% endset %}


		{% set serviceApplyHtml %}
		<!-- Current apply for a grant service -->
		<h2 class="govuk-heading-m">Apply for funding</h2>
		<p class="govuk-body">Apply for funding has been designed to allow local authorities, charities, and community
			groups to apply for different types of funding from Ministry of Housing, Communities and Local Government
			(MHCLG).</p>
		<p class="govuk-body">You will be able to select which funding as part of the user flow.</p>
		<form method="post" action="/preload">
			<input type="hidden" name="fundingService" id="fundingService" value="apply" />
			{{ govukButton({
			text: "Continue",
			classes: "govuk-!-margin-top-3"
			}) }}
		</form>
		{% endset %}



		{% set serviceAssessHtml %}
		<!-- Current assess applications service -->
		<h2 class="govuk-heading-m">Assess applications for funding</h2>
		<p class="govuk-body">The Funding Service assessment tool has been designed to help evaluate fund applications,
			to facilitate fund decision-making.</p>
		<p class="govuk-body">Here you can:</p>
		<ul class="govuk-list govuk-list--bullet">
			<li>assess applications end to end</li>
			<li>comment on specific applicant responses</li>
			<li>monitor the assessment progress of a fund</li>
		</ul>

		<form method="post" action="/assess/">
			<input type="hidden" name="fundingService" id="fundingService" value="assess" />
			{{ govukButton({
			text: "Continue",
			classes: "govuk-!-margin-top-3"
			}) }}
		</form>
		{% endset %}

		{{ govukTabs({
		items: [
		{ label: "Deliver grant funding", id: "service-deliver-funding", panel: { html: serviceDeliverFundingHtml } },
		{ label: "Access grant funding", id: "service-access-funding", panel: { html: serviceAccessFundingHtml } },
		{ label: "New change request MVP", id: "change-request", panel: { html: changeRequestHtml } }

		]
		}) }}

		<p class="govuk-body-s">Last updated on {{ "today" | govukDate }}
			<br>GOV.UK Prototype Kit: {{releaseVersion}}
		</p>
	</div>


</div>

{% endblock %}