{% extends "layouts/grantNoSignin.html" %}

{% set showBackLink = false %}
{% set showGuidance = false %}
{% set showBackApplicationsLink = false %}
{% set showBackApplicationsOverview = false %}

{% set pageSize = "xl" %}
{% set pageHeading = "Data referencing" %}
{% set pageSection = "Prototype" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-5">

	
		{{ macroPageHeader.pageHeader(pageNested,pageHeading,pageSection,pageHiddentext,pageSize) }}

			<p class="govuk-body">
  <a href="/funding/financial/designer/conditions/edit_question3" class="govuk-link">Data referencing journey</a>
</p>

		<p>Follow these steps to experiene the journey:</p>
			<ul class="govuk-list govuk-list--bullet">
				<li>add a condition (without a calculation)</li>
				<li>reference data in a data set that has been uploaded</li>
				<li>select a column from the data set</li>
				<li>define what the cndition should be (greater than, less than or between)</li>
				<li>save the condition </li>
			</ul>  
		<p class="govuk-body">This journey has not yet been tested with users but will be tested as part of upcoming rounds.</p>

	
	</div>


	<div class="govuk-grid-column-one-third">
				<h2 class="govuk-heading-m govuk-!-margin-bottom-1">Related links</h2>
				<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
					<p><a href="/sign-in/" class="govuk-link">User research on data referencing</a></p>
					<p><a href="/sign-in/" class="govuk-link">Design history on data referencing</a></p>

			</div>
</div>

{% endblock %}
