{% extends "layouts/grantNoSignin.html" %}

{% set showBackLink = true %}
{% set showGuidance = false %}
{% set showBackApplicationsLink = false %}
{% set showBackApplicationsOverview = false %}

{% set pageSize = "xl" %}
{% set pageHeading = "Managing users and getting access to the service (July 2026)" %}
{% set pageSection = "Prototype" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-5">


		{{ macroPageHeader.pageHeader(pageNested,pageHeading,pageSection,pageHiddentext,pageSize) }}

		<!--Summary information-->

		<dl class="govuk-summary-list">
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">
					Status
				</dt>
				<dd class="govuk-summary-list__value">
					<strong class="govuk-tag govuk-tag--yellow">
						In development
					</strong>
				</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">
					User
				</dt>
				<dd class="govuk-summary-list__value">
					Grant recipient
				</dd>
			</div>
		</dl>
		<!--Links to journeys-->
		<h2 class="govuk-heading-m">Journeys</h2>
		
			<p class="govuk-body">The driver for this functionality is that when grant recipients need access to forms or reports, they have to contact the support desk.
				This is an offline process and involves waiting until MHCLG can check and action the request.
			</p>
			<p class="govuk-body">The new functionality designed here allows users in existing organisations to request access to forms and reports. It also allows existing users to add or remove team members.
			</p>
		    <p class="govuk-body">These journeys were tested with 5 local authority and charity users in August 2026.</p>


		<p class="govuk-body">
			<a href="user-admin/request3/access" class="govuk-link">Request access - User does not have access to the grant</a>
		</p>
	
		<p class="govuk-body">
			<a href="/user-admin/request/access" class="govuk-link">Request access - User with LA email requests access for an existing organisation </a>
		</p>

		<p class="govuk-body">
			<a href="/user-admin/request2/access" class="govuk-link">Request access - User with a non-LA email requests access for a form or report </a>
		</p>

		
	
		<p class="govuk-body">
			<a href="/user-admin/sign-in" class="govuk-link">Add and remove users</a>
		</p>


		<h2 class="govuk-heading-m">Next steps</h2>
		<p class="govuk-body">These are items that were raised in the user research but require further exploration before implementing. We will monitor after release:</p>

		<ul class="govuk-list govuk-list--bullet">
			<li> Consider adding admin role who can add and remove users</li>
			<li> Consider adding view-only role ('Reviewer'?) who cannot add or remove users and cannot edit or submit</li>
			<li> Consider language of roles: 'can edit and submit' and 'certifier'</li>
			<li> If other users can add and remove users, the admin gets notified of changes.</li>
		</ul>
	</div>




	<div class="govuk-grid-column-one-third">
		<h2 class="govuk-heading-m govuk-!-margin-bottom-1">Related links</h2>
		<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
		<p><a href="https://app.mural.co/t/mhclg2837/m/mhclg2837/1783586150344/2a85650831b2a3c12ca560abb156547973406985"
				class="govuk-link" rel="noreferrer noopener" target="_blank">Mural board (opens in new
				tab)</a></p>

	</div>
</div>

{% endblock %}