{% extends "layouts/grantNoSignin.html" %}

{% set showBackLink = true %}
{% set showGuidance = false %}
{% set showBackApplicationsLink = false %}
{% set showBackApplicationsOverview = false %}

{% set pageSize = "xl" %}
{% set pageHeading = "Managing users and getting access to the service (July 2026)" %}
{% set pageSection = "Prototype" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-5">


		{{ macroPageHeader.pageHeader(pageNested,pageHeading,pageSection,pageHiddentext,pageSize) }}

		<!--Summary information-->

		<dl class="govuk-summary-list">
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">
					Status
				</dt>
				<dd class="govuk-summary-list__value">
					<strong class="govuk-tag govuk-tag--yellow">
						In development
					</strong>
				</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">
					User
				</dt>
				<dd class="govuk-summary-list__value">
					Grant recipient
				</dd>
			</div>
		</dl>
		<!--Links to journeys-->
		<h2 class="govuk-heading-m">Journeys</h2>
		<!--
		<p>The prototype illustrates: </p>
		<ul class="govuk-list govuk-list--bullet">
			<li>adding a condition (without a calculation)</li>
			<li>referencing data in a data set that has been uploaded</li>
			<li>selecting a column from the data set</li>
			<li>defining the condition (greater than, less than or between)</li>
			<li>saving the condition</li>
		</ul>
	-->
			<p class="govuk-body">This has gone through multiple iterations and is based on low fidelity mural sketches.</p>
		</p>
		
	
		<p class="govuk-body">
			<a href="/user-admin/request/access" class="govuk-link">Request access - User with LA email requests access for an existing organisation </a>
		</p>

		<p class="govuk-body">
			<a href="/user-admin/request2/access" class="govuk-link">Request access - User with a non-LA email requests access for a form or report </a>
		</p>

		<p class="govuk-body">
			<a href="user-admin/request3/access" class="govuk-link">Request access - User does not have access to the grant</a>
		</p>
	
		<p class="govuk-body">
			<a href="/user-admin/sign-in" class="govuk-link">Add and remove users</a>
		</p>


	</div>


	<div class="govuk-grid-column-one-third">
		<h2 class="govuk-heading-m govuk-!-margin-bottom-1">Related links</h2>
		<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
		<p><a href="https://app.mural.co/t/mhclg2837/m/mhclg2837/1783586150344/2a85650831b2a3c12ca560abb156547973406985"
				class="govuk-link" rel="noreferrer noopener" target="_blank">Mural board (opens in new
				tab)</a></p>

	</div>
</div>

{% endblock %}