{% extends "layouts/grantRecipient.html" %}

{% set showBackLink = true %}

{% set pageSize = "l" %}
{% set pageHeading = "What is the name of the question group?" %}
{% set pageSection = "Finance data testing grant" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form method="post" action="row_number" novalidate>
      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper">
          <span class="govuk-caption-l">Finance data testing grant</span>
          <label class="govuk-label govuk-label--l" for="question-group-name">
          How do you want to name your columns?
          </label>
        </h1>
        <div id="question-group-name-hint" class="govuk-hint">
          Decide how each column should be presented to other users
        </div>
      </div>

      <div class="govuk-form-group">
  <label class="govuk-label" for="event-name">
    Column 1
  </label>
  <input class="govuk-input" id="event-name" name="eventName" type="text">
</div>

<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Advanced formatting options
    </span>
  </summary>
  <div class="govuk-details__text">
<div class="govuk-form-group">
  <label class="govuk-label" for="width-5">
    Prefix (otional)
  </label>
  <input class="govuk-input govuk-input--width-5" id="width-5" name="width5" type="text">
</div>
<div class="govuk-form-group">
  <label class="govuk-label" for="width-5">
    Suffix (optional)
  </label>
  <input class="govuk-input govuk-input--width-5" id="width-5" name="width5" type="text">
</div>
<div class="govuk-form-group">
  <label class="govuk-label" for="sort">
    Input width
  </label>
  <select class="govuk-select" id="sort" name="sort">
    <option value="published">Hundreds</option>
    <option value="updated" selected>Thousands</option>
    <option value="views">Millions</option>
    <option value="comments">Billions</option>
  </select>
</div>
  </div>
</details>

<div class="govuk-form-group">
  <label class="govuk-label" for="event-name">
    Column 2
  </label>
  <input class="govuk-input" id="event-name" name="eventName" type="text">
</div>

<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Advanced formatting options
    </span>
  </summary>
  <div class="govuk-details__text">
<div class="govuk-form-group">
  <label class="govuk-label" for="width-5">
    Prefix (otional)
  </label>
  <input class="govuk-input govuk-input--width-5" id="width-5" name="width5" type="text">
</div>
<div class="govuk-form-group">
  <label class="govuk-label" for="width-5">
    Suffix (optional)
  </label>
  <input class="govuk-input govuk-input--width-5" id="width-5" name="width5" type="text">
</div>
<div class="govuk-form-group">
  <label class="govuk-label" for="sort">
    Input width
  </label>
  <select class="govuk-select" id="sort" name="sort">
    <option value="published">Hundreds</option>
    <option value="updated" selected>Thousands</option>
    <option value="views">Millions</option>
    <option value="comments">Billions</option>
  </select>
</div>
  </div>
</details>

<div class="govuk-form-group">
  <label class="govuk-label" for="event-name">
  Column 3
  </label>
  <input class="govuk-input" id="event-name" name="eventName" type="text">
</div>

<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Advanced formatting options
    </span>
  </summary>
  <div class="govuk-details__text">
<div class="govuk-form-group">
  <label class="govuk-label" for="width-5">
    Prefix (otional)
  </label>
  <input class="govuk-input govuk-input--width-5" id="width-5" name="width5" type="text">
</div>
<div class="govuk-form-group">
  <label class="govuk-label" for="width-5">
    Suffix (optional)
  </label>
  <input class="govuk-input govuk-input--width-5" id="width-5" name="width5" type="text">
</div>
<div class="govuk-form-group">
  <label class="govuk-label" for="sort">
    Input width
  </label>
  <select class="govuk-select" id="sort" name="sort">
    <option value="published">Hundreds</option>
    <option value="updated" selected>Thousands</option>
    <option value="views">Millions</option>
    <option value="comments">Billions</option>
  </select>
</div>
  </div>
</details>



<br>

      <div class="govuk-button-group">
        <button type="submit" class="govuk-button" data-module="govuk-button">
          Continue
        </button>
        <a class="govuk-link" href="#">Cancel</a>
      </div>
    </form>

  </div>
</div>
{% endblock %}