{% extends "layouts/grantRecipient.html" %}

{% set showBackLink = true %}

{% set pageSize = "l" %}
{% set pageHeading = "Select a data source" %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <span class="govuk-caption-l">Question validation</span>
            <h1 class="govuk-fieldset__heading">
              Select a data source
            </h1>
          </legend>

          <div class="govuk-radios" data-module="govuk-radios">
            
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="data-source-1" name="dataSource" type="radio" value="this-question">
              <label class="govuk-label govuk-radios__label" for="data-source-1">
                This question
              </label>
            </div>
            
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="data-source-2" name="dataSource" type="radio" value="previous-question-this-section">
              <label class="govuk-label govuk-radios__label" for="data-source-2">
                A previous question in this section
              </label>
            </div>
            
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="data-source-3" name="dataSource" type="radio" value="question-previous-section">
              <label class="govuk-label govuk-radios__label" for="data-source-3">
                A question in a previous section
              </label>
            </div>
            
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="data-source-4" name="dataSource" type="radio" value="question-previous-collection">
              <label class="govuk-label govuk-radios__label" for="data-source-4">
                A question in a previous collection
              </label>
            </div>
            
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="data-source-5" name="dataSource" type="radio" value="uploaded-dataset">
              <label class="govuk-label govuk-radios__label" for="data-source-5">
                An uploaded dataset
              </label>
            </div>
            
            <!-- Added data-aria-controls for the conditional reveal -->
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="data-source-6" name="dataSource" type="radio" value="calculation" data-aria-controls="conditional-calculation">
              <label class="govuk-label govuk-radios__label" for="data-source-6">
                A calculation
              </label>
            </div>

            <!-- Conditional reveal section -->
            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-calculation">
              <div class="govuk-form-group">
                <label class="govuk-label" for="calculation-table">
                  Select table
                </label>
                <div id="calculation-table-hint" class="govuk-hint">
                  Type at least 2 characters to search for a table
                </div>
                <!-- Standard select to be enhanced with accessible-autocomplete -->
                <select class="govuk-select govuk-!-width-one-half" id="calculation-table" name="calculationTable" aria-describedby="calculation-table-hint">
                  <option value="" selected disabled>Choose table</option>
                  <option value="table-1">table 1</option>
                  <option value="financial-table-2">question group 2</option>
                  <option value="extended-table-3">question 5</option>
                </select>
              </div>
            </div>

          </div>
        </fieldset>
      </div>
<form method="post" action="select_autocalc2">
      <div class="govuk-button-group">
        <button type="submit" class="govuk-button" data-module="govuk-button">
          Select data source
        </button>
        <a class="govuk-link" href="#">Cancel</a>
      </div>
    </form>

  </div>
</div>

<!-- GOV.UK Accessible Autocomplete Styles and Scripts -->
<link rel="stylesheet" href="https://unpkg.com/accessible-autocomplete@3.0.0/dist/accessible-autocomplete.min.css" />
<style>
  /* Ensure the autocomplete wrapper aligns with the standard GOV.UK half-width inputs */
  .autocomplete__wrapper {
    max-width: 50%; 
  }
  .autocomplete__input, .autocomplete__option {
    font-family: "GDS Transport", arial, sans-serif;
    font-size: 19px;
  }
</style>
<script src="https://unpkg.com/accessible-autocomplete@3.0.0/dist/accessible-autocomplete.min.js"></script>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    var selectElement = document.querySelector('#calculation-table');
    if (selectElement) {
      accessibleAutocomplete.enhanceSelectElement({
        selectElement: selectElement,
        minLength: 2, // Starts filtering after 2 characters
        defaultValue: '',
        showAllValues: true // Keeps the dropdown arrow so users can still see all options if they prefer
      });
    }
  });
</script>
{% endblock %}