{% extends "layouts/grantRecipient.html" %}

{% set showBackLink = true %}

{% set pageSize = "l" %}
{% set pageHeading = "What is the name of the question group?" %}
{% set pageSection = "Finance data testing grant" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form method="post" action="layout" novalidate>
      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper">
          <span class="govuk-caption-l">Finance data testing grant</span>
          <label class="govuk-label govuk-label--l" for="question-group-name">
            What is the name of the table?
          </label>
        </h1>
        <div id="question-group-name-hint" class="govuk-hint">
          Use a table to create an output for easy to compare financial data
        </div>
        <input class="govuk-input" id="question-group-name" name="questionGroupName" type="text" aria-describedby="question-group-name-hint">
      </div>

      <div class="govuk-button-group">
        <button type="submit" class="govuk-button" data-module="govuk-button">
          Continue
        </button>
        <a class="govuk-link" href="#">Cancel</a>
      </div>
    </form>

  </div>
</div>
{% endblock %}