{% extends "layouts/grantRecipient.html" %}

{% set showBackLink = true %}


{% set pageSize = "l" %}
{% set pageHeading = "Why are you declining sign off for the 1 October 2025 to 31 December 2025 report?" %}
<!-- {% set pageSection = "data.fundName" %} -->
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">

    	{{ macroPageHeader.pageHeader(pageNested,pageHeading,pageHiddenSection,pageHiddentext,pageSize) }}

      	<!-- <p>Tell {{ data.reporterName }} why you’re declining this report. You could include:</p> -->
      	<!-- <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-7"> -->
        	<!-- <li>details about any corrections needed</li> -->
			<!-- <li>any support they might need to correct the problem</li> -->
      	<!-- </ul> -->

		<p>Tell Clarice Stollen why you’re declining sign off so they can update and resubmit the report.</p>

      	<form method="post" action="/funding/recipient/sign-off/confirmation" >

        	{{ govukCharacterCount({
          		name: "reportReasonDeclined",
          		id: "reportReasonDeclined",
				maxwords: 200,
          		label: {
            		text: "Why have you declined this report",
            		classes: "govuk-label--l govuk-visually-hidden",
            		isPageHeading: false
          		}
        	}) }}

          	<!-- {{ govukButton({
            	text: "Continue"
          	}) }} -->

			  {% from "govuk/components/button/macro.njk" import govukButton %}

			  <div class="govuk-button-group">
				{{ govukButton({
				  text: "Continue"
				}) }}
			  
				<a class="govuk-link" href="report-awaiting-sign-off.html">Cancel</a>
			  </div>

        </form>

  </div>
</div>
{% endblock %}
