{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% import "macros/updateButton.njk" as macroUpdateButton %}
{% import "macros/page-title.njk" as macroPageTitle %}
{% import "macros/page-header.njk" as macroPageHeader %}
{% import "macros/suggested-page.njk" as macroSuggested %}
{% import "macros/current-page.njk" as macroCurrent %}
{% import "macros/page-pagination.njk" as macroPagePagination %}

{% from "govuk/components/header/macro.njk" import govukHeader %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

<!-- Overides the max width only in assess -->
{% block stylesheets %}
	{{ super() }}
  	<link href="/public/css/assessOveride-new.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block header %}

    <!-- Header -->
	<header class="govuk-header" data-module="govuk-header">
		<div class="mhclg-header" data-one-login-header-nav>
			<div class="mhclg-header__container govuk-width-container">
				<div class="govuk-header__logo">
					<a href="/" class="govuk-header__link govuk-header__link--homepage mhclg-header__link--homepage">
						<img src="/public/images/MHCLG_WHITE_LANDSCP_AW.png" height="30px">

					</a>
			  	</div>

				{% if data['signedIn'] == "yes" %}
				<nav class="mhclg-header__nav">
					<ul class="mhclg-header__nav__list">
			  			<!-- <li class="mhclg-header__nav__list-item">
							<a class="mhclg-header__nav__link" href="/signed-out/?signedIn=no">Developer</a>
			  			</li> -->
						<li class="mhclg-header__nav__list-item">
							<a class="mhclg-header__nav__link" href="/signed-out/?signedIn=no">Sign out</a>
			  			</li>
						
					</ul>
		  		</nav>

				{% endif %}

			</div>
		</div>
	</header>



	{% if data['signedIn'] == "yes" %}


		{{ govukServiceNavigation({
			serviceName: "Deliver grant funding",
			serviceUrl: "#"			
		}) }}

	{% else %}

		{% if data['authentication'] == "SSO"  %}

		<!-- Service Name and Navigation -->
		{{ govukServiceNavigation({
			serviceName: "Deliver grant funding",
			serviceUrl: "#"
		}) }}

		{% else %}

		<!-- Service Name and Navigation -->
		{{ govukServiceNavigation({
			serviceName: "Access grant funding",
			serviceUrl: "#"
		}) }}

		{% endif %}

	{% endif %}

{% endblock %}

{% block beforeContent %}
    <!-- Phasebanner -->
    {{ govukPhaseBanner({
        tag: { text: "Prototype" },
        html: 'This is a prototype. It is not a real service.'
    }) }}

    <!-- Back link -->
    {% if showBackLink != false %}        
		{{ govukBackLink({
    		text: "Back",
    		href: "javascript:history.go(-1)"
		}) }} 
    {% endif %}

{% endblock %}

{% block content %}{% endblock %}


{% block footer %}

	{{ govukFooter({

		meta: {
			items: [
				{ href: "/manage-prototype/clear-data", text: "Clear data" },
				{ href: "/manage-prototype", text: "Manage prototype" },
				{ href: "#", text: "Show hidden text", attributes: {"data-module": "prototype-reveal-hidden"} }
			],
			html: 'Built by the <a href="#" class="govuk-footer__link">Ministry of Housing, Communites & Local Government Funding Service</a>'
		}
	}) }}

{% endblock %}
